[2014-01-02 13:08] liclac opened #1 "Debug Console"
We badly need some debug tools in here, because I have no idea when things fail and why.

[2014-01-06 23:04] liclac opened #2 "Can't paste API Link on Windows 8"
The "Enter API Link" dialog in both the Viewer and Tool parts doesn't let you paste the link on Windows 8. Not sure why this is happening...

Temporary fix: http://pastebin.com/y5vJqChL

(Reported by Riga)

[2014-01-06 23:17] liclac opened #3 "Cache gradually slows down on Windows"
The cache allegedly slows down with prolonged use on Windows 7. Not sure why, I should probably make my own cache implementation there.

Reported by Remi

[2014-01-07 12:34] liclac opened #4 "Tool: Cancelling the Enter API dialog gives Malformed JSON errors"
Pressing Cancel when the Tool asks for an API Link gets you three "Malformed JSON" dialogs, instead of the application quitting or something.
Reported by Riga.

[2014-01-07 12:58] liclac opened #5 ".deb Packages"
We need some packages.

Debian packaging looks overwhelming, but it can't be /that/ hard.

[2014-01-07 12:59] liclac opened #6 "Arch Linux PKGBUILD"
We need some packages.

Arch packages are fairly easy to make, I just have to make a PKGBUILD and copy stuff in.

[2014-01-07 12:59] liclac opened #7 "Windows Installer"
Figure out which one to use too.

[2014-01-07 17:02] #6 closed, assigned to nobody

[2014-01-07 20:56] #7 closed, assigned to nobody

[2014-01-15 13:17] liclac opened #8 "Dropping an image on the Viewer replaces the game"
Dropping an image on the web view currently replaces the game with the image. That probably shouldn't happen.

[2014-01-15 17:09] liclac opened #9 "Tool Ship stats do not sort numerically"
The table doesn't sort numerically, but alphabetically, even on the numeric columns.
Reported by Yumu.

![becupthciaao6bw png_large](https://f.cloud.github.com/assets/428026/1922515/b95d74b4-7e07-11e3-95e6-2759eb664a86.png)

[2014-01-16 14:25] #4 closed, assigned to nobody

[2014-01-16 14:41] #9 closed, assigned to nobody

[2014-01-19 20:50] #5 closed, assigned to nobody

[2014-01-25 20:18] liclac opened #11 "Install Flash Player with the game on Windows"
https://wwwimages2.adobe.com/content/dam/Adobe/en/devnet/flashplayer/pdfs/flash_player_11_7_admin_guide.pdf#page=13

MSI: http://fpdownload.macromedia.com/get/flashplayer/current/licensing/win/install_flash_player_11_7_plugin.msi
EXE: http://fpdownload.macromedia.com/get/flashplayer/current/licensing/win/install_flash_player_11_7_plugin.exe

[2014-01-25 20:29] ameto opened #12 "Idle Crash"
Tool will crash after idling too long, sometimes will crash upon startup:

Problem signature:
  Problem Event Name:   APPCRASH
  Application Name: KanColleTool.exe
  Application Version:  0.1.0.2
  Application Timestamp:    52e3f701
  Fault Module Name:    KanColleTool.exe
  Fault Module Version: 0.1.0.2
  Fault Module Timestamp:   52e3f701
  Exception Code:   c0000005
  Exception Offset: 00002ced

[2014-01-25 20:49] liclac opened #13 "Tool Launch Crash"
The Viewer allegedly crashes on launch, with this crash log.

[code]

Reported by Yumu

[2014-01-25 21:32] Yumuya opened #14 "KanColle Tool Viewer crash"
Viewer crashed while looking through ship equipment. Has only happened on the ship 5 of the first fleet, and was repeatable.

[code]

[2014-01-26 00:18] #13 closed, assigned to nobody

[2014-01-26 01:27] #12 closed, assigned to nobody

[2014-01-27 06:23] liclac opened #15 "Construction timers roll over"
Instead of showing a notification, the construction timers just roll over and start over from 23:59:59

[2014-01-27 18:04] ameto opened #16 "Connection Error Message Spam"
If my internet drops for x amount of time, the tool spams spams me with a JSON error message that I can't close fast enough, forcing me to kill it with task manager.

see: http://puu.sh/6AfBj.jpg

[2014-01-27 22:47] #2 closed, assigned to nobody

[2014-01-27 22:47] #15 closed, assigned to nobody

[2014-01-27 22:47] #16 closed, assigned to nobody

[2014-01-27 22:53] #8 closed, assigned to nobody

[2014-01-27 22:54] #1 closed, assigned to nobody

[2014-01-30 21:51] liclac opened #17 "Instant Repair doesn't stop timers"
Using an instant repair doesn't prevent notifications from firing when the reparation was _supposed_ to be completed.

[2014-02-02 10:56] liclac opened #18 "Construction Notifications unconditionally spoil"
They should only name the ship that has been created if the Spoiler checkbox is checked.

[2014-02-03 14:16] #18 closed, assigned to nobody

[2014-02-03 14:17] #17 closed, assigned to nobody

[2014-02-15 00:41] liclac opened #19 "Store translation data locally"
Currently, it's fetched from the server whenever it's needed (Sikarra says that's fine; the server code is fast), and if the server is unavailable, so will the translation be. Network and server hickups do happen.

[2014-02-15 00:44] liclac opened #20 "Optionally submit missing data"
Strings lacking translation should be submitted to Sikarra to be added to the TL UI. This must be possible for the user to opt out of, and blacklisted keys should not be submitted.

[2014-02-15 00:48] liclac opened #21 "Make translation optional"
Translation should not be mandatory, it should be optional.

Following /jp/'s advice, I should make this opt-in; some more paranoid players get nervous from its presence, and it's important to uphold the image of us gaijins in case Kadokawa ever finds KCT.

[2014-02-15 00:51] liclac opened #22 "[null]s in the Mac Viewer"
The Mac Viewer's translator currently does not check for `[NSNull null]` (only `nil`), which is what it gets from the Translation API starting a few days ago.
So, we get untranslated-but-known strings replaced with "[null]", instead of left alone.

[2014-02-15 00:53] #22 closed, assigned to nobody

[2014-02-15 00:56] liclac opened #23 "Cmd+W in the Mac viewer doesn't do anything"

[2014-02-15 00:56] #23 closed, assigned to nobody

[2014-02-15 00:57] liclac opened #24 "Reset menu item"
Sometimes, the game just needs to be reset.

[2014-02-15 01:01] liclac opened #25 "Make sure game data is properly reloaded after maintenance"
New versions of the game data isn't loaded properly unless the cache is forcibly cleared.

[2014-02-15 01:01] #25 closed, assigned to nobody

[2014-02-16 10:11] sauyon opened #30 "Viewer Crash"
Seems to happen randomly, I think it happened twice in the fleet management screen and once in the equipment management screen.

The console spits out a bunch of:
QIODevice::write: device not open
Then a bunch of:
QIODevice::write: ReadOnly device

I tried printing a backtrace but it doesn't look very helpful

[code]

I'll try recompiling with debugging symbols.

[2014-02-16 10:48] sauyon opened #31 "Preserve ingame settings"
Currently the viewer resets the ingame settings (for volume) every time you open it, which is annoying.

[2014-02-16 18:24] sauyon opened #32 "Move away from proxy"
If the proxy causes pain, couldn't you just override the [QtNetworkReply class](http://qt-project.org/doc/qt-5.0/qtnetwork/qnetworkreply.html)?

It seems like a much cleaner way to do packet interception than running a proxy server.

[2014-02-17 07:17] liclac opened #33 "Qt Viewer translation toggle breaks tool streaming"
The translation toggle in the Qt Viewer UI currently breaks livestreaming to the tool, as that forwarding is also handled by the proxy.
I was going to do the check in `KVTranslator::translate()` (and `KCTranslator::translate()`; sharing one class between modules didn't work on Windows for some reason, might try to make this shared later) using QSettings.

[2014-02-17 07:48] #33 closed, assigned to sauyon

[2014-02-17 08:15] #14 closed, assigned to nobody

[2014-02-19 22:23] sauyon opened #34 "gamedata bloats the repository"
The gamedata directory is unnecessary for compilation and bloats the repository.
I would move it to a separate repository and remove it from history entirely.

[2014-02-19 22:37] #34 closed, assigned to nobody

[2014-02-19 23:14] sauyon opened #35 ""MacaroniCode" organization"
The organization for the Qt app is set to MacaroniCode, which means that config files go in an kind of unguessable (and ugly, imo) directory <config directory>/MacaroniCode/.

Could I change it to KancolleTool or something similar? It would have a couple drawbacks, of course:
- People would lose their configuration unless we tell them to move it
- People would lose their cache unless we tell them

[2014-02-20 04:42] sauyon opened #36 "Builds for 0.8.2 release"
I decided that now would be a good time to make a release, so I am doing so.

I have a release announcement set up, so all that's left to do is to build the clients for the target platforms.

[2014-02-20 04:45] #21 closed, assigned to nobody

[2014-02-20 04:50] #24 closed, assigned to nobody

[2014-02-20 08:39] #32 closed, assigned to nobody

[2014-02-20 11:06] liclac opened #37 "Settings screen in the Qt Viewer"
The Mac Viewer and Tool both have settings dialogs, while the Qt Viewer just has a single menu item. This isn't necessarily a problem /now/, but it will make it harder to add new settings later.

[2014-02-20 11:17] #35 closed, assigned to nobody

[2014-02-20 12:03] liclac opened #38 "Optionally retry POSTs before failing"
Mami has a bit of a shaky connection, which makes POSTs fail once in a while and the game errorcat as a result. Retrying failed POSTs twice before giving up would make the game more playable for her.

[2014-02-20 12:39] #30 closed, assigned to nobody

[2014-02-21 20:41] sauyon opened #39 "Tool constantly calls API endpoints"
By constantly, I mean _constantly_, like maybe one or two times a second. If that's not suspicious, I don't know what is, especially because the actual client calls api_get_member/ships maybe once per session.

This should, at least, be disabled by default. I think I'm going to work on getting the tool to understand endpoints like /api_req_hokyu/charge and /api_req_sortie/battle before I move the

[2014-02-21 22:31] sauyon opened #40 "Multiple tool clients can run at once"
If you accidentally open KanColleTool twice, the server fails to start silently, meaning that the second instance is rather useless. I do this a lot after I minimize it to the tray, and I feel like it would be good to just open a window for the existing session.

[2014-02-22 00:06] #39 closed, assigned to nobody

[2014-02-22 09:03] #37 closed, assigned to sauyon

[2014-02-23 20:32] sauyon opened #41 "Separate KanColle Libs"
I think it would be nice to separate the reusable parts of the code into a standalone library.
I'm working on it right now [here](HTTPS://github.com/Sauyon/KanColleLibs), since I can't create repos.

[2014-02-23 23:41] #36 closed, assigned to nobody

[2014-02-24 06:47] #31 closed, assigned to nobody

[2014-02-24 11:10] liclac opened #42 "Bundled Tor"
Just an idea I had; bundling Tor, firing it up in a subprocess and controlling it via control sockets á la Vidalia would let users dodge the region lock effortlessly (and without resorting to the ugly hack with the login cookies the latest KanColleViewer uses).
The configuration would just have to prioritize speed over privacy, with a single hop (we're evading a single company here, not a governme

[2014-02-25 07:53] sauyon opened #43 "Sharing with the world"
Do you mind if I post this on reddit/forums?

I wish to share it with the world. Plus, having more people use it means more bug reports/feature requests, and I personally believe that's a good thing.

[2014-02-25 09:00] #43 closed, assigned to nobody

[2014-02-25 09:50] liclac opened #44 "Logging"
Logging of crafting attempts, drops and similar would be useful. I'm thinking about logging to a sqlite database and having an option to export a CSV file, maybe even an image similar to the LSC charts I've seen posted.

[2014-02-25 14:19] liclac opened #45 "modelizeResponse for ship2 and ship3"
If possible and if it at all makes sense (I'm not sure), try to overload modelizeResponse to be useful for these two endpoints too. The current code for the handlers have a bit much repetition in them…

[2014-02-25 19:09] #45 closed, assigned to sauyon

[2014-02-25 19:46] liclac opened #46 "Use Branches"
We should probably start using and merging branches instead of everyone pushing to master =w=
Right now, the Tool isn't even building for me, which makes it kinda hard for me to work on #44.

[2014-02-25 19:47] liclac opened #47 "Linker Error in the Tool"
Something just broke, and the tool doesn't link anymore (OSX 10.9.2, clang).

[code]

[2014-02-25 19:53] #47 closed, assigned to sauyon

[2014-02-25 22:02] #46 closed, assigned to sauyon

[2014-02-25 22:48] #40 closed, assigned to nobody

[2014-02-27 19:15] sauyon opened #48 "Weird resolution issues?"
[This guy](http://www.reddit.com/r/kancolle/comments/1yvnxd/kancolletool_kancolleviewer_for_us_gaijin/cfpfga5) seems to be having some issue; I'm not entirely sure what's going on but I thought it would be good to open an issue for it.

[2014-02-27 19:17] sauyon opened #49 "Make the tool run a proxy server"
Following with the vein of having the tool and viewer separate, if we run a proxy server we would be able to display data from, say, Chrome.

Thoughts?

[2014-03-01 23:40] liclac opened #50 "All these bars in the tool…"
![screen shot 2014-03-02 at 00 38 24](https://f.cloud.github.com/assets/428026/2303025/a04950e0-a19a-11e3-8600-cbc190997fb3.png)
Quite frankly, this looks like shit on OSX. I should do something about this.
@sauyon, how awful does it look on your end if you remove the bars altogether?

[2014-03-02 00:19] liclac opened #51 "Unit Tests"
I wrote some unit tests for the Mac Viewer, now I'm trying to figure out how QtTest is supposed to work.

[2014-03-02 00:38] sauyon opened #52 "Cache hotfix"
We should release a 0.8.3 hotfix setting cache size to 1024 and maybe allowing people to change it, some people are complaining about resources reloading.

[2014-03-02 06:02] sauyon opened #53 "Viewer segfault"
The viewer is segfaulting now on start, due to a43bf3f.
I'm going to revert it, but this needs pushed out ASAP.

[2014-03-02 09:38] #53 closed, assigned to nobody

[2014-03-02 09:41] #52 closed, assigned to nobody

[2014-03-02 14:19] ElliotZ opened #54 "Tool Fails to Run On Ubuntu"
I git cloned the 0.8.4 version of the KanColleTool and built it, both the tool and the viewer. The 0.8.4 viewer runs fine, but the 0.8.4 tool always stops on the loading screen.  I've tried uninstalling and reinstalling, but it doesn't help. I never tried with 0.8.3 version, might try later. Also the system tray service doesn't seem to start, wonder if this has any thing to do with it. I use sudo

[2014-03-02 18:54] liclac opened #55 "Linux packages don't set up the icon properly"
Icons should go in `/usr/share/pixmaps/` and be referenced in the relevant .desktop files.

[2014-03-02 19:03] #54 closed, assigned to nobody

[2014-03-02 19:06] liclac opened #56 "Specify refresh interval in minutes"
Really, refreshing in intervals small enough to conveniently specify in seconds makes no sense.

[2014-03-02 20:19] liclac opened #57 "Splitting the repo?"
If #41 ever happens, we could probably split the repo up in multiple pieces.

This would make especially much sense for the mac viewer, which Travis-CI currently has no clean way to build due to it requiring a completely different build environment. I could make it do it with a hack, but that might cause trouble later on.

Also, Debian packages are biased towards packages with one source tree that

[2014-03-02 20:38] liclac opened #58 "Don't block the UI for initial tool data loading"
This is awful UX. The tool was designed to load data in the background, thus all the handling for missing data.

[2014-03-02 21:29] #56 closed, assigned to nobody

[2014-03-03 01:51] #55 closed, assigned to nobody

[2014-03-03 03:02] sauyon opened #59 "Quest tracking"
Add a quest tracker,  as per @ElliotZ's suggestion.

Most likely going to be a list of quests, with as much progress information as we can gather... We're going to want to store info, which is something we should be doing in the first place. This is probably going to get extremely involved because quests involve a lot of different actions, so it'll probably take some time.

[2014-03-03 04:09] #58 closed, assigned to sauyon

[2014-03-04 11:26] #57 closed, assigned to nobody

[2014-03-05 21:38] liclac opened #60 "0.8.5 Milestone"
@sauyon, let's set up a milestone for this, add whatever you like to it. 0.8.4's seemingly-broken-by-default tool is causing confusion.

[2014-03-06 00:58] sauyon opened #61 "Google repo?"
I was thinking that we could use google repo to manage this instead of submodules to manage our subrepos - I feel like it's more suited to what we're doing than submodules because it was designed to deal with this kind of situation.

That would probably entail just keeping a manifest file in this repository or something similar.

~~Also, if we're going to sacrifice simple #-tagging for issues, we

[2014-03-19 10:20] ElliotZ opened #62 "Linux Source?"
I noticed that version 0.8.7 was updated 4 days ago, but your Travis-CL record says last build was 15 days ago... also I don't see any source code in this repo. Did you guys move the project?

[2014-03-19 10:25] #62 closed, assigned to nobody

[2014-03-28 15:13] #61 closed, assigned to nobody

[2014-03-28 15:15] #50 closed, assigned to nobody

[2014-03-28 15:18] #60 closed, assigned to nobody

[2014-04-02 08:09] #51 closed, assigned to nobody

[2014-04-02 08:12] #48 closed, assigned to nobody

[2014-04-02 08:14] liclac opened #63 "Translucent windows on Windows 7 don't clear properly"
Possibly a Qt bug. When `Qt::WA_TranslucentBackground` or `Qt::WA_NoSystemBackground` are specified, clearing stops working, so anything that's drawn stays as an after image after it disappears.

[2014-04-02 11:38] liclac opened #64 "Optional notifications when you don't have any expeditions out"
Add a switch that, when active, will make the Tool bug the user if they don't have expeditions out, once every 5-10 minutes or so.

(from [@TimeForCrepes](https://twitter.com/TimeForCrepes) ([1](http://twitter.com/TimeForCrepes/status/451322068668133376), [2](http://twitter.com/TimeForCrepes/status/451322427981574144)))

[2014-04-03 11:07] liclac opened #65 "Construction notifications are broken"
I broke them somewhere, they now roll over and don't send a notification. Oops.

[2014-04-05 08:00] sauyon opened #67 "OSX 10.8 compatibility"
Got an email from a guy who's having trouble with the Mac viewer:

His email was dracopancake@gmail.com

[2014-04-18 11:41] #63 closed, assigned to nobody

[2014-04-18 11:43] #42 closed, assigned to nobody

[2014-04-19 01:23] #65 closed, assigned to nobody

[2014-04-19 12:18] #64 closed, assigned to nobody

[2014-04-25 12:36] LynxyssCZ opened #68 "Getting Network errors - Linux version"
After the recent API update I have been getting Network errors (white cat screen) with the linux client. Windows one works okay.

Tested on multiple boxes and confirmed from multiple people.

[2014-04-27 11:21] liclac opened #69 "Linux builds for 0.9.0"
@LynxyssCZ, I'm not sure how to poke you about new versions, so this will have to do for now.

[2014-04-28 07:25] #69 closed, assigned to LynxyssCZ

[2014-04-30 08:11] pedymaster opened #70 "Notifications don't work - Linux version"
Hi,
notifications have incorrect behaviour on linux. Instead of creating a notification, it looks like it opens another window on linux bar, but the window is nowhere to be found. If I right-click and close it, it also kills the icon in tray. If I close it like that, no notifications, or the window appears again (though it should), but the process is still running.
Tested on Mint 16 x64

[2014-05-09 15:44] liclac opened #71 "Fast Translation corrupts the data"
More specifically, it doesn't handle unicode and newlines correctly. See https://gist.github.com/uppfinnarn/ffe0b694dac778117124; in data_in.json there are some sporadic newlines I have no idea why they're there, but in data_out.json, there's a newline in the middle of an unicode sequence (search for "\u59", the 27 following it is after a linebreak).

This is currently the main thing preventing me

[2014-05-09 21:29] liclac opened #72 "Tool getting Error 100 after the latest update"
Looks like they changed the keys to /api_port/port.

We may have to make the client download a JS file that generates keys or something like that, so that we can push updates to that without rolling out a new version. Not sure how to best solve this.

[2014-05-20 21:25] liclac opened #73 "Remove Direct Loading from the tool; write cache files instead"
KanColle Staff have been cracking down on data viewers and suspicious activity, and in addition implemented the api_port signature system. With their new module loader letting them patch in new keys (and key generation algorithms) at any time, we're fighting a losing battle by keeping it.

Writing all requests and responses to a known location and having the tool load from there seems like a far b

[2014-05-27 10:02] Xaradas opened #74 "Can't install on ubuntu 14.04"
Hello,
I'm trying to install this application on ubuntu 14.04. I downloaded .deb packages, but it said there was an error that it can not install dependency libqt5core5. I was also looking on google for solution, but none worked. Can anyone help me with this problem?

[2014-05-27 10:14] #73 closed, assigned to nobody

[2014-05-27 10:14] #72 closed, assigned to nobody

[2014-05-27 10:20] #20 closed, assigned to nobody

[2014-05-27 17:27] liclac opened #75 "Mailing list?"
GitHub issues are awful for discussing things. I've never set up a mailing list before, but it shouldn't be too hard. Thoughts?

@sauyon @LynxyssCZ

[2014-05-27 23:13] #75 closed, assigned to nobody

[2014-05-28 10:04] #74 closed, assigned to nobody

[2014-05-28 17:46] liclac opened #76 "Carbon Process Manager Deprecated on OSX 10.9"
`Carbon.framework`'s [Process Manager APIs](https://developer.apple.com/legacy/library/documentation/Carbon/Reference/Process_Manager/process_mgr_ref.pdf) are deprecated as of OSX 10.9.
The replacement seems to be the ObjC [NSRunningApplication](https://developer.apple.com/library/mac/documentation/AppKit/Reference/NSRunningApplication_Class/Reference/Reference.html) class.

Might be worth just ma

[2014-05-30 18:26] liclac opened #77 "Packages for Ubuntu 12.04"
Not sure if this is possible, but I've gotten a request for it.

[2014-06-18 12:56] yukariin opened #78 "Linux failed build tool"
Hi, I use Arch linux, but package from aur is deprecated and not clone submodules for view/tool.
So I write new pkgbuild and I have problem with building tool. Viewer building and run correctly.
Build log for tool: https://gist.github.com/Yukariin/fe4891152df668965773

[2014-06-18 14:46] #78 closed, assigned to nobody

[2014-06-21 10:15] liclac opened #79 "Offer Growl notifications"
Windows' built-in notifications suck. Fortunately, there is [Growl for Windows](http://growlforwindows.com/) and the [gntp-send](https://github.com/mattn/gntp-send) library.

[2014-07-23 19:27] #70 closed, assigned to nobody

[2014-07-23 20:43] #11 closed, assigned to liclac

[2014-07-23 23:15] liclac opened #80 "Use yajl for in-stream translation"
Can be added as a submodule ([lloyd/yajl](https://github.com/lloyd/yajl)) and would effectively solve #71.

[2014-07-23 23:17] liclac opened #81 "Use ehttp for web communication"
I'd prefer to use an HTTP library to the current, kinda clunky solution. My own [ehttp](https://github.com/ehttp/ehttp) would work.

[2014-07-23 23:18] liclac opened #82 "Receiving translation data doesn't autoupdate the UI"
It leaves labels untranslated until the settings dialog is opened and closed. Not sure what's going on here...

[2014-07-23 23:18] #38 closed, assigned to nobody

[2014-07-23 23:19] #19 closed, assigned to liclac

[2014-07-24 00:25] #82 closed, assigned to nobody

[2014-07-24 00:26] #79 closed, assigned to liclac

[2014-07-24 11:42] #81 closed, assigned to liclac

[2014-07-24 19:41] yukariin opened #83 "No rule to make target 'install' on Linux"
I'm trying build new 0.9.2 version on my Arch Linux.
Building was successfully finishing, binaries from bin-folder are running successfully too. But when i do `make install` I see `make: *** No rule to make target 'install'.  Stop.`.

[2014-07-28 12:31] yukariin opened #84 "Notification center update and split out into a library"
As you say - open task.
https://github.com/Snorenotify/Snorenotify

[2014-07-30 16:01] yukariin opened #85 "Why tools and viewer are separated into different projects and binaries?"
Currently the Tools are useless without Viewer. And we have some similar code and utilities, that using in both projects.
So, why don't merge them into one project and one app? Like Grabacr viewer.

[2014-07-31 05:44] Renari opened #86 "Information Lists"
I've been messing around with different tools for KanColle and one of the things that I thought was really useful in KCV was the ship and equipment lists. It allows to easily find out which of your ships has the highest firepower and where all of your equipment currently is/what it does. It would also be useful to have a list for your quests. Here's an image example.

![](http://i.imgur.com/dIouhE

[2014-07-31 19:07] #85 closed, assigned to nobody

[2014-08-01 14:12] liclac opened #87 "License"
Any objections to me putting this under MIT? I just now realized that we don't have one at all.

[2014-08-01 15:05] #77 closed, assigned to LynxyssCZ

[2014-08-01 15:05] #71 closed, assigned to sauyon

[2014-08-01 15:08] #3 closed, assigned to nobody

[2014-08-01 15:27] yukariin opened #88 "Missing translation"
Currently I have missing translations for some Kai Ni ship's and quests.
AFAIK we use 3rd-party APi for translations, right? So, we can update those translations and fix it?

[2014-08-01 15:44] #68 closed, assigned to nobody

[2014-08-06 11:28] liclac opened #89 "Repeated repair notifications"
The repair notifications seem to fire once in a while, not just once.

[2014-08-13 23:57] liclac opened #90 "extract() crashes on nonexistent properties"
If `KCGameObject::extract(const QVariantMap &source, T dest[], int count, const QString& key)` (possibly other overloads as well) tries to extract a property that doesn't exist, the whole Tool crashes. This is kind of a problem.

[2014-08-13 23:57] #87 closed, assigned to nobody

[2014-08-14 11:47] kevin01523 opened #91 "kancolle tool crashes"
the kancolle tool crashes at windows 8 when i added my api hmm how can i reset the program and remove my api

[2014-08-15 12:32] wanew opened #92 "Error while installing in Arch"
-- Install configuration: ""
-- Installing: /tmp/yaourt-tmp-wanew/aur-kancolletool-git/pkg/kancolletool-git/usr/bin/kancolletool-viewer
-- Installing: /tmp/yaourt-tmp-wanew/aur-kancolletool-git/pkg/kancolletool-git/usr/bin/kancolletool
install: target ‘/tmp/yaourt-tmp-wanew/aur-kancolletool-git/pkg/kancolletool-git/usr/share/applications/’ is not a directory: No such file or directory
==> ERROR: A

[2014-08-16 01:30] #92 closed, assigned to yukariin

[2014-08-16 11:18] #88 closed, assigned to nobody

[2014-08-16 11:52] #90 closed, assigned to nobody

[2014-08-16 11:52] #91 closed, assigned to nobody

[2014-08-16 11:52] uppfinnarn opened #93 "verbump.sh doesn't update CMakeLists properly"
`tool/src/CMakeLists.txt` and `viewer/src/CMakeLists.txt` are both left unupdated, from what I can see.

[2014-08-16 19:52] My2ndAngelic opened #94 "F5 for refresh in the viewer"
Just like the title, I want the reset can be easier with F5

[2014-08-17 02:50] SoftwareGuy opened #95 "UI Translations slightly outdated (and non-TL lines shown)"
This is most likely a low priority issue, but some of the lines in the game need translation. There's a building quest/task that hasn't been translated, which goes something like <kanji>2<kanji>.

Is the translation of the game finalized as no more dialogue or updates to the translation will happen or does the TL need a pay rise to get update the UI translation files? I can attach a snap of the ga

[2014-08-17 03:57] SoftwareGuy opened #96 "0.9.3: Screenshot Functionality not functional"
It seems in 0.9.3 that clicking "Screenshot" or taking screenshots via CTRL+I does not work.
Tested on Windows 7 Ultimate 64Bit. KCT is not exporting the screenshots to disk. While the release post says it's "not likely to work", I'm putting this out here just as project feedback.

[2014-08-18 06:14] kevin01523 opened #97 "Cannot run on Windows XP"
well it seems both the viewer and the tool is not recognized as a proper win32 application or valid an exe

here is  screenshot

http://i.imgur.com/nzWDXbM.jpg
![10534484_778283928904752_865293190_n](https://cloud.githubusercontent.com/assets/8380242/3948133/d992fb7e-269e-11e4-8c96-cad4d6ccec99.jpg)

[2014-08-18 14:49] #95 closed, assigned to nobody

[2014-08-19 13:16] #94 closed, assigned to nobody

[2014-08-22 00:29] SoftwareGuy opened #98 "0.9.3: Issues with Construction Tool Tab"
The construction tab in the Tool (not the Viewer) has an issue. When a shipgirl is complete, in this case, Naka, and you get her in the game, the Tool's readout of what's in the construction bay is "stale" and will say "Naka 0:00" until you do another build recipe.

Can confirm that this behavior has been present since 0.9.2. Seems we aren't resetting the contents of the "bay" in the Tool's UI. Or

[2014-09-02 10:51] ChaosChaud opened #99 "Modernization with Maruyu not working"
The thing is:

When I try to modernize a ship with maxed out armor with a Maruyu ( who gives armor and a hidden bonus to luck ), the modernize button stays grayed out and I can't do the modernization ( something that is possible since December 2013 update ). Clearing out the cache and getting a new API didn't solve the problem.

I can do said modernization on Chrome and on Flashplayer standalone,

[2014-09-06 08:27] liuwh08 opened #100 "Cat Screen after hit the start game button"
This only happens after the last server update. I tried different ways and it seems to happen only on my Linux system on all browsers including kankore viewer. (I have a backup win7 system on the same computer and it doesn't happen at all). It seem to be related with the time setting of the system but I tried different setting and still got no luck. Would like to know how you guys run this game es

[2014-10-11 11:55] SoftwareGuy opened #101 "0.9.3 and Windows 10 Tech Preview: Over 9 Fleets! + no Repair/Construct tabs?"
![The bug](http://cache.coburnsdomain.com/ss-11102014/2014-10-11_21-48-27.png)
I have 2 ships being built and none docked. Weird bug with Windows 10, maybe something to do with QT5 not supporting the UI overhaul? How to replicate:

1) Obtain Windows 10 Tech Preview. Install inside VM, on a old box, etc
2) Install 0.9.3 of KCT
3) Do the funky stuff to login, etc.
4) Click on one of the fleet tabs.

[2014-10-16 20:42] My2ndAngelic opened #102 "Doesn't work on Windows XP"
When I run on Windows XP, it said: Not vaild as a Win32 application.
I think you should remove Windows XP from supported list.

[2014-11-16 11:58] My2ndAngelic opened #103 "Feature request: Allow user choose place to save screenshot (for Windows and Mac)"
As title, KCT has the best feature is allowing user to capture the screen.

But I would like to request a feature, that next release of KCT allows user to choose where to save the screenshot, also, please add this feature to Mac, since I have to use SnagIt to capture it every time.

Thanks

[2014-11-17 14:55] paolobolzoni opened #104 "Feature request: socks proxy support"
As far as I understood (honestly, almost nothing at the moment) KanColleTool connects to the Internet directly. It would be possible to add socks proxy support?

In the case the feature is already there, sorry about that...

[2014-11-20 09:54] #104 closed, assigned to nobody

[2014-11-24 02:13] SoftwareGuy opened #105 "Where does KCT store the game cache?"
Where does KCT store it's cache? I tried looking at the folder it's installed in and there's a "cache" folder, but it's empty.

I'm looking for the files that the embedded KCT browser would download, like the SWFs that the game grabs when loading shipgirls and such. I can reveal the location of them on the server using wireshark, but that gets tiresome if I can't just pull them from cache. Only ot

[2014-11-24 06:34] #105 closed, assigned to nobody

[2015-02-17 14:10] Vipunen11 opened #106 "Add timer for Akashi repairs"
As people know Akashi is great for repairing ships with medium damage but the problem with her is calculating ticks and timers is a pain in the ass so if you could integrate timers in to the tool.

[2015-03-10 20:05] lolwat97 opened #107 "Grey screen after launch on Linux"
Hello, I'm running Arch Linux and have installed the tool from the AUR. When I launch it, I get following messages:
Locale: "en_US"
Couldn't open "/kcsapi/api_start2" ( "/home/lolwat/.cache/KanColleTool/KanColleTool/userdata/kcsapi/api_start2.json" ): 5
Couldn't open "/kcsapi/api_get_member/basic" ( "/home/lolwat/.cache/KanColleTool/KanColleTool/userdata/kcsapi/api_get_member/basic.json" ): 5
Coul

[2015-03-10 20:07] uppfinnarn commented on #107
Sounds like an issue with your Flash Player install. Do you have the correct architecture's `flashplugin` installed?

[2015-03-10 20:10] lolwat97 commented on #107
Yeah, I think so, yaourt -Qs flash returns
local/flashplayer-standalone 11.2.202.442-1
    Macromedia standalone flash player (nonfree)
extra/flashplugin 11.2.202.442-1
    Adobe Flash Player
multilib/lib32-flashplugin 11.2.202.442-1
    Adobe Flash Player for 32-bit Mozilla-based browsers

[2015-03-10 20:20] uppfinnarn commented on #107
Strange… I've used [QtWeb](http://qtweb.net) to diagnose Flash Player-related issues before, as it uses largely the same rendering stack as KCTV, see if you can load some random flash video with that.

Error code 5 is [QFileDevice::OpenError](http://doc.qt.io/qt-5/qfiledevice.html#FileError-enum), which usually means it just hasn't been created yet.

[2015-03-10 20:37] lolwat97 commented on #107
Well, there is no directory ~/.cache/KanColleTool, so I think that error code means just that.

[2015-03-10 20:55] lolwat97 commented on #107
QTweb has no trouble loading flash videos.

[2015-03-13 03:15] SoftwareGuy commented on #107
Try making the ~/.cache/KanColleTool manually. Maybe permissions are not allowing the viewer to create it automatically?

[2015-03-15 19:03] lolwat97 commented on #107
@SoftwareGuy No, that didn't resolve the issue. I also tried running the tool as root and also made all the directories down to /home/lolwat/.cache/KanColleTool/KanColleTool/userdata/kcsapi/ and all child folders.

[2015-03-18 12:23] Green-Cat opened #108 "Crash on launch (windows 8.1)"
I just downloaded the program from the website, and it crashes instantaneously on launch.
I've tried both the standalone and the installer.
I have flash player installed (it's working on firefox).
Is there any log or something I can consult somewhere?

[2015-03-18 22:19] SoftwareGuy commented on #108
First, please check your machine for malware or any software that might be crashing KCT (ie. Malware Search Hooks). Secondly, run some tools like Wise Disk Cleaner and Wise Registry Cleaner (don't touch CCleaner, ever) to see if there is crap on your machine that could be interfering. Reboot after doing each clean.

Then try running KCT again. Please also attach a screenshot of the error window wi

[2015-03-18 23:06] uppfinnarn commented on #108
More importantly, can we get a crash log somehow? I know Windows is terrible at giving those, but I believe they should be there somewhere.

[2015-03-23 02:11] ifonefox opened #109 "Feature Request: Retina version"
Are there any plans for the viewer and the tool to support Macs with a retina display? They currently don't, so both the game and the text are blurry.

[2015-03-23 07:20] uppfinnarn commented on #109
Oshit, I forgot about that… until we can get a new version out, [Retinizer](http://retinizer.mikelpr.com) should help

[2015-03-27 18:17] EnderShadow opened #110 "KanColle API has changed so the tool needs a new release compatible with it."

[2015-03-27 23:49] EnderShadow commented on #109
I don't know if you saw the issue I created earlier, but the API changed so we'll need a new version of the tool.

[2015-03-29 07:20] SoftwareGuy commented on #110
Can you please tell us what's new? When did this API change happen?
At the moment I'm working on custom server software for KC, so I need to know what the new API structure is like.

[2015-03-29 18:39] EnderShadow commented on #110
Sorry. I was mistaken. The tool had told me that the API changed so I thought I'd mention it, but the notice stopped appearing. Sorry for the false alarm.

[2015-03-29 18:39] #110 closed

[2015-03-30 15:31] EnderShadow opened #111 "KanColle Viewer only shows a white screen on OSX 10.10.2 Yosemite"
The API key works fine in the browser, but it doesn't appear to work in the application. I have the latest version of Adobe Flash Player installed.

[2015-03-31 00:46] SoftwareGuy commented on #111
Maybe the security settings in OS X are blocking it? I dunno. I've only used 10.5.8 on a Mac Mini G4.

[2015-03-31 11:53] EnderShadow commented on #111
If that is the case, where would the settings be? I didn't see anything unusual under the flash player settings.

[2015-03-31 11:58] uppfinnarn commented on #111
There is no such thing on OSX. Security settings screwing with other programs is a Windows thing.

The only things I can think of are:

1. Adobe broke Flash Player. Again.
1. You're using Chrome, which is using its own embedded Flash Player, and doesn't use the system's.
1. Your Flash Player installation is broken - try reinstalling it as a last resort (not that it should matter).

[2015-03-31 13:57] EnderShadow commented on #111
I don't think it's 1 because it works in firefox.
It's not 2 because I tested with firefox.
I don't think it's 3 either because it works in firefox.

[2015-03-31 14:01] uppfinnarn commented on #111
Does anything show up in the Console when you start it?
Also, test with [QtWeb](http://qtweb.net), a small web browser using the same stack as the non-Mac Viewer.

(/Application/Utilities/Console.app)

[2015-03-31 14:12] EnderShadow commented on #111
The KanColle Tool says it's waiting for me to start the viewer, but the viewer stays at a white screen. Is that what you mean by the console? QtWeb shows a grey screen when I try to run KanColle with it.

[2015-03-31 14:19] uppfinnarn commented on #111
Safari? That's what the MacViewer is using for rendering.

[2015-03-31 14:22] EnderShadow commented on #111
It shows up correctly there.

[2015-03-31 14:33] uppfinnarn commented on #111
Then I have no idea, sorry :/
The MacViewer is just straight-up pulling in one of Safari's web views, so it should work if Safari does

[2015-04-14 03:45] EnderShadow commented on #111
You know what. I was being stupid. I figured out the issue. I needed to put http:// in front of the api key for it to work.

[2015-04-14 03:45] #111 closed

[2015-04-30 07:35] My2ndAngelic opened #114 "Ro-500 name error."
![2015-04-29_20-43-31](https://cloud.githubusercontent.com/assets/8387105/7408326/0b626428-ef1c-11e4-9e78-592fb8b9b255.png)
![2015-04-30_09-33-24](https://cloud.githubusercontent.com/assets/8387105/7408327/0b650ef8-ef1c-11e4-97e2-c921aa3ee18c.png)
![2015-04-30_09-35-00](https://cloud.githubusercontent.com/assets/8387105/7408342/34b35602-ef1c-11e4-9f46-b83a9303cfb8.png)

Some quick screenshot from

[2015-04-30 08:34] Yukariin commented on #114
Where is your error?

[2015-05-01 12:48] Siderg opened #115 "Translation"
Hello,
First of all thanks for great tool
And I really want to translate tool and some texts in game to Russian language
Can you share with me how can i do this?:)

[2015-05-01 13:10] Yukariin commented on #115
Могу тебя огорчить, дефолтный шрифт в клиенте абсолютно не поддерживает кирилицу и не читаем. Можешь посмотреть как в игре отображается `Верный`.
Если английский текст зачастую не влазит, то кирилица-то тем более.
Ты, конечно, можешь попробовать. Более-менее обновлённый перевод лежит в моей репе. Но что бы вьювер и тулза его подхватили тебе придётся заменить ссылку на файл перевода в сорцах и реби

[2015-05-01 13:13] Yukariin commented on #115
Алсо, насколько я знаю, @uppfinnarn работал над тулзой, для хака флеша на лету, которая позволила бы нам обновлять перевод, который захардкоден в клиенте, ну и починить шрифты для языков, отличных от Японского.
В каком оно сейчас состоянии - не знаю, но вряд ли готово хоть для какого-то использования...

[2015-05-01 14:34] Siderg commented on #115
Ясно, спасибо за ответ, жаль что все так плохо. Просто побаловался немного с подменой кеша и для себя небольшой перевод  общего интерфейса сделал, а потом понял, что всякие там квесты, имена кораблей просто так не перевести. Потом наткнулся на эту тулзу с переведенными на английский именами и прочим.
![kancolle-150501-17160266](https://cloud.githubusercontent.com/assets/12198672/7431371/a84eb934-f

[2015-05-01 14:41] Yukariin commented on #115
Хммм, подмена кэша говоришь? Можно подробнее?
Не пробовал так же починить кирилицу в шрифте? Единственная проблема - это шрифт, если получится починить в нём кирилицу/заменить на другой, то останется только адаптировать англофикатор.

[2015-05-01 14:55] Siderg commented on #115
Я силен в всем этом. Но мне однажды пришла мысль поковырять кеш браузера. Нашел я так .swf файлы игры, нашел в гугле декомпилер (JPEXS Free Flash Decompiler) который большинство этих файлов открывал + в нем легко заменить графические элементы на другие. Но так как я без понятия как подменить кеш в том же хроме, то взял программу HandyCache и пустил игру через него. Скачав все нужные .swf файлы, по

[2015-05-01 14:56] Yukariin commented on #115
Хотя, если подумать...
Сейчас у нас вьювер юзает вебкит и QNAM, который, по сути, работает как MITM-прокси.
Собственно в QNAM, у нас и реализуется перевод имён/квестов/эквипа. Туда же можно запихнуть и подмену (как из кеша, так и патчинг на лету) флешек.
Только вот я сомневаюсь, что это безопасно. Клиент постоянно обновляется же, поэтому нужно постоянно следить за изменениями и обновлять англо(ру)

[2015-05-01 15:15] Yukariin commented on #115
Да, это оно. Дефолтный шрифт - AXIS.
Можешь посмотреть превью, например тут http://www.fonts.com/font/typeproject/axis-font-japanese/complete-family-pack
С кирилицей там плохо.

[2015-05-01 16:38] Siderg commented on #115
Эх, в общем, яснопонятно. Ничего особо хорошего не выйдет, по крайней мере у меня.

[2015-05-01 16:40] Yukariin commented on #115
Ну, если у тебя получилось заменить картинки, то и шрифт получится?
У меня правда через этот PEXS Free Flash Decompiler не экспортятся ttf из флешки...

[2015-05-01 16:50] Siderg commented on #115
Экспортнуть шрифт можно, а вот обратно его закинуть - нет, ну или я не знаю как. С картинками там все просто, в JPEXS при нажатии на картинку есть функция замены, а тут нету, только экспортировать. Шрифт я вытянул, даже думал поправить кириллицу, да вот потом понял, что я без понятия как его назад в флешку закинуть потом:)

[2015-05-01 17:00] Yukariin commented on #115
Ну, как вариант - попробовать декомпильнуть эту флешку и на основе структуры создать новую.
Она там вроде совсем простая, пара ttf, пара скриптов и всё.

[2015-05-01 17:18] Siderg commented on #115
Собрать новую у меня не получается, при переводе флешки в .fla - проект пустой, совсем. Возможно я слишком дерево... Может у тебя это получится? Вот шрифты https://yadi.sk/d/LsbHCrHQgNc47 я еще не правил кириллицу, но могу хоть сейчас сесть, если в этом есть хоть какой-то смысл.

[2015-05-01 17:20] Yukariin commented on #115
Экспорт в FLA и XML у меня тоже пустой. Можно попробовать платные декомпиляторы-эдиторы.
У меня пока не особо много времени на это, может ближе к ночи освобожусь и тоже попробую.

[2015-05-01 17:28] Siderg commented on #115
Дак этож не горит:) Конечно, как будет время и желание, хоть завтра, хоть через неделю. Было бы классно с этим разобраться. А я попытаюсь помочь чем смогу, т.ч пойду таки поправлю кириллицу, может будет полезно.

[2015-05-01 17:30] uppfinnarn commented on #115
![img_0151](https://cloud.githubusercontent.com/assets/428026/7434148/79f8c50e-f038-11e4-882b-9260597c620d.jpg)

[2015-05-01 17:30] Yukariin commented on #115
@uppfinnarn :3

[2015-05-01 17:32] uppfinnarn commented on #115
@Yukariin
![screen shot 2015-01-15 at 07 48 57](https://cloud.githubusercontent.com/assets/428026/7434166/d2fa53fc-f038-11e4-9f54-ce24e7edaf2a.jpg)

[2015-05-01 17:35] Yukariin commented on #115
@uppfinnarn Good nigh!
![dcb5c9bf2f36c7fbd5c8b596e62595f6](https://cloud.githubusercontent.com/assets/6450725/7434200/9bedcbd8-f041-11e4-9177-e72fdc66afd4.png)

[2015-05-01 18:41] My2ndAngelic commented on #114
Well, you can see the bottom line, that's when I left her in the repair bath.

[2015-05-02 00:08] SoftwareGuy commented on #115
Unless we have a russian translator that knows both Japanese and Russian and can make a translation proxy then I guess that would work. At the moment I think translations are done via a Commie Fansubs proxy hosted by RHExcelion (could be wrong).

[2015-05-02 12:15] Yukariin commented on #115
This translation is outdated and will not be updated because translator was gone.

[2015-05-02 14:12] Yukariin commented on #115
@Siderg В общем у меня получилось восстановить структуру проекта - там ровно 1 дефолтный кадр, 2 шрифта и 2 дефолтных класса к ним. http://rghost.ru/6HscZ4spV
Получилось пофиксить кирилицу?

[2015-05-02 16:53] Siderg commented on #115
Да, спасибо за труды. Мне удалось поменять кириллицу и игра ее вроде как приняла. Ну, долна была. Просто у меня нету верного чтобы проверить, а другого именно русского текста в игре я не знаю. Но, я проверял другим вариантом, исказил некоторые буквы английские в шрифте по тому же принципу, что и кириллицу. И после очистки всех кешей, особенно RAM-кеша в handycache и выставив там же, чтобы файл фон

[2015-05-02 17:01] Yukariin commented on #115
Круто, чем шрифт правил? Правил уже существующие в шрифте символы или залил из другого шрифта? Можешь отдельно пофикшенный шрифт выложить?

Для начала скажи, что за ОСь у тебя? В линуксе ребилднуть значительно проще, чем в винде.
А так тебе нужно только одну ссылку поменять в сорцах.

[2015-05-02 17:07] Siderg commented on #115
FontCreator правил, залил с Ариала, не знал какой выбрать, выбрал самый обычный)

А вот сам шрифт - https://yadi.sk/d/unoXfdyPgPVbE

Сейчас сижу на Вин 8.1

[2015-05-02 17:17] Yukariin commented on #115
Хотя стоп, если твоя прокся может подменять флешки, тогда просто подмени файл перевода.
https://github.com/Yukariin/Yukariin.github.io вот тут у меня обновлённый английский перевод, который будет юзаться в новых версиях вьювера.
Скачай, подредактирую и похакай его проксёй, как и флешку с шрифтами.

[2015-05-02 17:20] uppfinnarn commented on #114
This is… weird, I'm not even sure how that gibberish could even be possible o.O

Is it always the same too, or does it change between restarts?

[2015-05-02 17:21] uppfinnarn commented on #115
I'm just going to close and unsubscribe from this now. Feel free to continue.

[2015-05-02 17:21] #115 closed

[2015-05-02 17:46] Siderg commented on #115
не получится, флешки то идут через кеш, поэтому я их могу подменить. А эти файлы по всей видимости через кеш не проходят, т.ч. подменить у меня не выйдет никак.

[2015-05-02 17:49] Yukariin commented on #115
Хендикеш - это ведь по сути обычная прокси? Так вот перевод точно такой же HTTP-запрос, как и выкачивание флешки у DMM.

[2015-05-02 18:02] Siderg commented on #115
Вот собственно что подгружает хендикеш от старта вьювера до загрузки в порт. Позже особо запросы не меняются. Я просто не вижу таких файлов в кеше, может я чего не понимаю.
http://s7.hostingkartinok.com/uploads/images/2015/05/48f1b86ee3f7c298ef13aea2ae118e92.png

[2015-05-02 18:05] Yukariin commented on #115
А да, точно, там же отдельный QNAM для запроса переводов, он настройки прокси из тулзы не читает.

[2015-05-02 18:06] Yukariin commented on #115
Тогда придётся редактировать ссылку в сорцах и ребилдить.

[2015-05-02 18:11] Siderg commented on #115
Пичаль, а гайда как это сделать нигде нету? А то я такого никогда не делал.

[2015-05-02 18:20] Yukariin commented on #115
В винде с этим геморно всё -___-
Дай мне ссылку на файл, который ты хочешь обновлять, и я попробую тебе билднуть вин-версию.

[2015-05-02 18:32] Siderg commented on #115
а ну, тогда пока ничего не нужно. Это ведь перевод нужно иметь, чтобы что-то обновлять :) Зачем лишний раз воду гонять. Тогда такой вопрос, где взять тексты? Они там все по той ссылке с обновленным англ переводом? И его просто можно брать и переводить? Собственно это и был основной вопрос темы, просто все как-то ушло немного в другую сторону. И тогда, как будет что показать - можно будет и ребилди

[2015-05-02 18:52] Yukariin commented on #115
Ну, основная проблема, как ты мог заметить, это шрифты. Который фиксятся только подменой флешки с шрифтами на свою.
Для этого нужно будет делать отдельную настройку и хак в QNAM, который будет в зависимости от настройки качать оригинальный/починенный шрифт.
Надо будет у автора узнать ещё, не против ли таких хаков он...

[2015-05-02 19:08] Siderg commented on #115
Ок, если не сложно узнай у него. Я тогда с текстами пока подожду, займусь правкой картинок и ожиданием не забанят ли меня за это, заодно проверю как эта тема работает с обновлениями клиента, а то картинки я не успел подменить до весеннего ивента, а клиент на время его точно обновлялся. После него будет видно, рабочий ли мой вариант или нет.
Все равно мой способ перевода интерфейсных кнопок не имее

[2015-05-02 19:12] Yukariin commented on #115
По хорошему бы нам нужна тулза, которая бы это автоматом делала, а не руками каждый раз.
Ну и у меня вот сейчас дошли руки до FontForge и я начинаю фиксить кирилицу, которая уже есть в шрифте.

[2015-05-02 19:16] Siderg commented on #115
Тулза это конечно круто, но думаю сложновато из-за swf`ок, хотя я не шарю. Мой предел это какие-нибудь несложные задачки на ruby писать, да код читать :D

[2015-05-04 12:59] Yukariin commented on #115
В общем Юкарин сделала временный хак, чисто для проверки, работает:
![27](https://cloud.githubusercontent.com/assets/6450725/7453875/73c5ed2a-f276-11e4-8c9c-376c6512fc71.png)
Но некоторые буквы латиницы выглядят мягко говоря ниочень. Буду пилить символы, которые уже есть в шрифте...

[2015-05-04 16:25] Siderg commented on #115
Круто, а этот хак получается идет как дополнение к вьюверу или это что-то отдельное? Мне вообще интересно, а можно эту подмену японского текста на тот же английский сделать более универсальной? Имеется введу отвязать от тулзы и вьювера, а запускать отдельно, чтобы оно работало не только в них, а и в том же браузере. Ведь, например, та же замена кеш файлов, которую я юзаю для картинок, универсальна

[2015-05-04 16:33] Yukariin commented on #115
Нет, просто подмена (по сути то, что у тебя делает прокси) оригинального файла на кастомный в ответе. Но оно кривое пока и вообще никак не настраиваемое.
Часть текстов передаёт клиенту апи, собственно их не так уж сложно перевести при помощи MITM-прокси, в качестве которой у нас работает QNAM.
Так что это можно будет сделать при помощи другой прокси, которую в браузере можно будет включить.
Тоже с

[2015-05-04 16:46] Yukariin commented on #115
На самом деле в канколле всё сделано через жопу.
Возможностей перевода практически нет. Передача текстов с апи - это вообще шедевр. Внутриигровые тексты наглухо забиты в клиент.
В качестве сравнения могу привести SGO (Sword Girls Online) очень похожая как по жанру так и в целом по устройству и механике браузерку. Так вот, там большинство текстов раскидано по обычным XML, которые в зависимости от л

[2015-05-04 17:01] Siderg commented on #115
С текстов в апи я тоже немного прифигел, когда увидел.
А так, через пень-колоду вполне можно сделать вменяемый перевод xD Хоть и геморрно это.
Хотелось бы помочь как-то с программной частью, да я слишком дерево в этом.
Вообще, было бы реально классно иметь отдельный универсальный инструмент с переводом, но пока это мечты-мечты.
Если я чем-то могу помочь - скажи, я постараюсь это сделать.

[2015-05-05 12:35] Yukariin commented on #115
В FontForge, оказывается, есть такая штука, как автоматическое выставление ширины символа.
Починенный шрифт с кирилицей теперь тут https://github.com/Yukariin/Yukariin.github.io/tree/master/font
Нужно будет потом ребилднуть флешку с новым шрифтом...

[2015-05-06 10:01] My2ndAngelic commented on #114
It always the same.

[2015-05-08 16:44] Siderg commented on #115
мм, поставил в флешку новый шрифт, вот - https://yadi.sk/d/fYGd0h1CgWbsu

[2015-06-20 16:25] Yukariin commented on #115
@Siderg в общем пилится потихоньку парсер:
![2015-06-20-192414_710x240_scrot](https://cloud.githubusercontent.com/assets/6450725/8268127/f676b1ca-1781-11e5-8646-20ba176cbce6.png)
По большей части копипащу из ffdec_lib с небольшими адаптациями под кресты.

[2015-06-24 08:27] Rhextian commented on #115
are you guys still looking for english translator? if so, i wanna help out

[2015-06-24 13:21] Yukariin commented on #115
@Rhextian well, currently we have our own translation, that placed in my repo https://github.com/Yukariin/Yukariin.github.io
And upstream version of KCT already support it. Just clone and build Viewer/Tool from upstream.
If you interested to contribute - you can fork my repo, make changes and then make pull request.

[2015-06-25 12:50] Rhextian commented on #115
i tried building the tool, but cmake gives me this error, am i missing something? i already installed Qt5 as well
![d7ce8a100e](https://cloud.githubusercontent.com/assets/12529719/8354589/d769517c-1b7b-11e5-8c39-afa5b888d810.png)

[2015-06-25 15:07] Yukariin commented on #115
@Rhextian easiest way is install latest version of Qt5 from official site, clone repo with submodules, launch Qt Creator and open CMakeLists.txt from root of cloned repo.

[2015-06-26 12:28] Rhextian commented on #115
i tried building it from qt5 like u said, but i cant seem to run both the tool and the viewer, it says Qt5Widgets.dll is missing or something

[2015-06-26 20:34] Yukariin commented on #115
@Rhextian yep, you need copy Qt .dll's to .exe folder. See latest Standalone version from here https://kancolletool.github.io/downloads/

[2015-06-27 09:46] Rhextian commented on #115
oh btw, w/c version of qt5 i should use? i got 5.4.1 atm

[2015-06-27 12:12] Yukariin commented on #115
We don't use any version-specific Qt features. So you can use any 5.* version.

But I'll recommend you to use latest version because they may contains some bug-fixes and/or improvement.

[2015-06-27 13:45] Rhextian commented on #115
oh ok, it works now but it doesnt seem to load the translation even though the translation box is ticked

[2015-06-27 17:52] Yukariin commented on #115
@Rhextian strange... You have all quests on japanese?
Works fine for me:
![kctviewer 2015-06-27 20 50 57](https://cloud.githubusercontent.com/assets/6450725/8393211/7371212e-1d0e-11e5-85dd-a6fef8f16819.png)

[2015-06-27 20:11] Siderg commented on #115
Увидел шевеления в тему и вспомнил, что хотел поделится не самый приятным опытом. В общем, неделю назад словил я бан в игре, скорей всего за модификацию кэша, хотя японцы упорно молчат о том, что же я не так сделал, но так как других причин не было, ну кроме того что я не японец, то скорей всего так оно и есть.

[2015-06-28 03:30] Rhextian commented on #115
yeh, everything is on japanese and every time i run the program, it gives me this error
![cc37a3cd87](https://cloud.githubusercontent.com/assets/12529719/8395039/0177ec76-1d89-11e5-92eb-9d77c3a041b5.png)

[2015-07-08 03:44] SoftwareGuy opened #116 "Regarding translations..."
From what I can understand, the game is no longer being translated by the Commie translators, if memory serves me correctly. Judging from what @Yukariin was talking in Russian in a seperate issue, I'm getting the impression that the "come and slam" (?) domain that was being used for the translation service is no longer functioning.

Therefore, does the translation JSON file still exist? Is there a

[2015-07-08 22:23] kevin01523 commented on #116
hmm the last loaded translation is at the cache directory of kct

if you can build it yourself you can edit this line on the viewer
QNetworkReply *tlReply = manager.get(QNetworkRequest(QString("http://api.comeonandsl.am/translation/%1/").arg(language)));

into

QNetworkReply *tlReply = manager.get(QNetworkRequest(QString("http://yukariin.github.io/en.json").arg(language)));

i just tested it now a

[2015-07-08 22:29] uppfinnarn commented on #116
There should be none, the only thing is that you need to update where it reports untranslated lines to as well. Failures to report lines are silently ignored, but you kinda need it to produce a working translation...

[2015-07-08 22:45] kevin01523 commented on #115
the english translation kinda stopped i mean http://api.comeonandsl.am/translation/%1/ returns null

[2015-07-09 17:11] Yukariin commented on #115
`d` - it's debug version of libraries. You're .exe require debug lib's because you build Debug target on Qt Creator. Select Release and rebuild.

[2015-07-09 17:17] Yukariin commented on #116
Upstream version of KCT already have updated links:
https://github.com/KanColleTool/kct-tool/blob/master/src/KCTranslator.cpp#L53 - https://github.com/KanColleTool/kct-tool/commit/3f6bbd7ee1c44a66067d6e8680c2a5f96b0c1ca6
https://github.com/KanColleTool/kct-viewer/blob/master/src/KVTranslator.cpp#L55 - https://github.com/KanColleTool/kct-viewer/commit/de717428868fc00ca191b43d30d1c223a171bafa

[2015-07-09 20:23] kevin01523 commented on #116
the added messagebox is kinda annoying when fail to get translation and sometimes wont disappear unless forcibly closed and the translation source is fixed or translation is turned off

the %1 on the end kinda dont work thats why i changed it into directly into /en.json instead of /%1.json

[2015-07-09 20:36] uppfinnarn commented on #116
How does it not work?

http://doc.qt.io/qt-5/qstring.html#arg

[2015-07-10 02:11] SoftwareGuy commented on #116
I guess I'll clone the latest sources and compile. Although I wish I could build the project on Linux for a MS Windows target, that would be great (rather than having to install another toolchain on my machine).

[2015-07-10 03:50] kevin01523 commented on #116
because there's no

 %1.json on yukariins repo well

@SoftwareGuy   try this one http://www.mediafire.com/download/i5cdr4faozzug2v/KanColleTool.rar just paste it on your kct dir ised the same version of qt w/ the official one

[2015-07-10 05:05] SoftwareGuy commented on #116
Alright. I was going to compile myself a build but you've saved me the trouble. :+1:

I'll install 0.9.3 and then over-the-top copy paste. Does this also have the screenshot bug fixed?

[2015-07-10 05:49] SoftwareGuy commented on #116
@kevin01523 Your build doesn't seem to have the screenshot not saving fix, but the translation actually is loaded and does the magic of translating. Thanks for the assist.

[2015-07-10 12:52] kevin01523 commented on #116
the screenshot does save it uses the latest from yukariins build which have the get api from the tool thingy i added the feature when it does get the api it copies it to clipboard you can select if to upload  or fropm jpeg to png and maybe check where it saves the screenshot its on the settings

[2015-07-10 14:46] strongestFairy commented on #116
@kevin01523 thank you very much!

@Yukariin is there any plans to do a new official build? Almost one year passed since the 9.3 （；￣д￣）

[2015-07-10 19:00] kevin01523 commented on #115
use cmd
then cd to  C:\Qt\Qt5.*.*\5.*\msvc2013\bin depends on what version you are using
then  paste the command bellow it will copy the needed dll's

windeployqt --no-compiler-runtime --no-translations --no-svg  %KCT dir%\KCTViewer.exe

windeployqt --no-compiler-runtime --no-translations --no-svg  %KCT dir%\KanColleTool.exe

[2015-07-10 23:10] kyusang600 commented on #116
Is it possible to get this fixed on the mac launcher because I am not very well experienced in objective C and do not know how to get the domains fixed in the first place.

Please Help D:

[2015-07-11 01:19] kevin01523 commented on #116
@uppfinnarn @Yukariin @SoftwareGuy  maybe there should be an official release w/ the added features and tl fixes

[2015-07-12 23:44] longkagamine opened #117 "KanColleToolViewer problem"
idk why but my viewer got problem translating, it said my network got problem, but my network is fine, please help me. Thank you!

[2015-07-13 04:03] kevin01523 commented on #117
https://github.com/KanColleTool/KanColleTool/issues/116 refer here

[2015-07-13 04:15] longkagamine commented on #116
well i did download the thing that @SoftwareGuy said, extracted them and i can play for about 6 hours
now i got this trouble again

[2015-07-13 05:33] kevin01523 commented on #116
play  again i updated the translations so it got an error when i missed a coma

[2015-07-16 03:42] SoftwareGuy commented on #116
so are you our new translation mantainer, @kevin01523 ?

[2015-07-16 16:31] Yukariin commented on #116
Well, I make 0.9.4 release here.
@uppfinnarn can you compile and upload binaries?

[2015-07-16 16:35] Eankun commented on #116
Holy crap, can't believe I just found this conversation.

Okay, so here's the deal: currently only me and @Yukariin (afaik) have KCT build that takes translation directly from https://yukariin.github.io/en.json
Me and Yukarin have access to that file and we tried to keep it up-to-date with recent KK events, quests, new girls and stuff. Any help with translation is appreciated, especially since we

[2015-07-16 17:17] uppfinnarn commented on #116
The big thing I'm concerned about is: how do we report and add untranslated strings?

The file on @Yukariin's account does certainly work, but it's not exactly workable. If any new strings are added, we're screwed, because we have no way to really add new lines. That JSON file is basically a compiled product, and we've lost the sources.

I can push out 0.9.4 in a bit (assuming you didn't do anythi

[2015-07-16 17:43] Yukariin commented on #116
Of course not!
https://github.com/KanColleTool/kct-tool/blob/master/src/KCTranslator.cpp#L53
https://github.com/KanColleTool/kct-viewer/blob/master/src/KVTranslator.cpp#L55

But we still need update link in macviewer too. I'm not too good in obj-c -___-

[2015-07-16 18:45] uppfinnarn commented on #116
It's a weird language, I don't blame you =w=

The relevant part is in -[loadTranslation] [here](https://github.com/KanColleTool/kct-macviewer/blob/master/KCTViewer/KVAppDelegate.m). It *does* hardcode the language, but it's becsuse the mac viewer is basically a workaround for a Qt bug, that prevented Flash from working on OSX. It was meant to be temporary until it was fixed :/

[2015-07-16 19:49] Yukariin commented on #116
@uppfinnarn as solution of report-issue I'm suggest just write untranslated strings in file.
I think this is should be enough for translators.

[2015-07-17 09:53] kevin01523 commented on #116
[code]

the version i shared extracts/streams  untranslated strings into a file but you need to be on jp locale for it to be readable @SoftwareGuy yukariin is the one that maintains the translation i just help and im kind of using my fork on the build i shared

[2015-07-17 10:20] uppfinnarn commented on #116
This is a hack so terrible that my head hurts just by reading it…

For starters, that's a blatantly obvious sign of you not encoding it properly, you're hardcoding the language code because you seemingly don't understand format strings, and you've just modified the stdout logging to write to a file?

Sorry if this sounds rude, and this is probably just a quick fix never meant to reach a final buil

[2015-07-17 10:54] Yukariin commented on #116
Well, currently I use [this](https://gist.github.com/Yukariin/90c379d26fad1edf7317) patch on my local build.

[2015-07-17 20:31] uppfinnarn commented on #116
That works, I guess. A bit cumbersome to keep working with CRC32s though :/

[2015-07-17 21:12] Yukariin commented on #116
Yep. A bit later I'll try to merge files into original:translation format and make simple app for add new strings and generate crc:translation files for viewer/tool.

[2015-07-17 21:30] uppfinnarn commented on #116
If someone else can get me working builds of 0.9.4, I can upload them, CMake currently refuses to cooperate here…

[2015-07-17 22:22] uppfinnarn commented on #116
Ha, fixed it.

@Yukariin, can you write up some release notes? I'll go through them and correct grammar/curious wording, so don't worry about that part too much.

[2015-07-17 22:59] Yukariin commented on #116
Fixed screenshot saving and added some additional options (format, destination path select/browse).
Added new option for getting new API link directly from the Viewer.
Also added region cookie hack for getting API link without any Japanese proxy/VPN.
Fixed translation link.

[2015-07-18 00:23] SoftwareGuy commented on #116
I think that's a major milestone for the project in general.
Hope we can hit another version by the end of the month - I have a little idea that I'll split into another issue topic, to keep this one on topic of translations. I think that would be ideal...

[2015-07-18 00:55] SoftwareGuy opened #118 "Tab in KCT to show all ships you have"
Since I know very little QT, I thought I'd make this request.

Should be rather easy to implement. Have a tab that allows the player to see all the ships in his arsenal, optionally with their English name (should the translations be enabled) and their current stats. An "export to CSV/TXT/etc" button would also be ideal, because then I can pastebin the file and get other players to discuss fleets,

[2015-07-18 07:24] Yukariin commented on #118
Wat?
![2015-07-18-102405_650x340_scrot](https://cloud.githubusercontent.com/assets/6450725/8760773/3c3b6546-2d37-11e5-8ac3-b1905d45276f.png)

[2015-07-18 07:27] Yukariin commented on #117
Closed.

[2015-07-18 07:27] #117 closed

[2015-07-18 08:09] SoftwareGuy commented on #118
FML I forgot that we have that.

Closed.

[2015-07-18 08:09] #118 closed

[2015-07-18 08:45] Rhextian commented on #118
what about adding sort by ship type?

[2015-07-18 13:48] kyusang600 commented on #116
I'm very sorry to be rushing you guys but can i please have a mac build of the KCT viewer with the updated translation link?

my waifu are waiting D:

[2015-07-18 13:58] uppfinnarn commented on #116
Absolutely! In fact, if you grab the current Mac download link and replace 0.9.3 with 0.9.4, it's already up.

I was going to publish the update fully, only to realize the Windows build included 100+ MB of debug symbols, so I gotta get to a Windows machine and fix it first…

[2015-07-19 07:08] kevin01523 commented on #118
hmm i guess the list lacks ship id, condition,exp, next, fuel ammo, ship type.feature wise battle prediction, enemy firepower and hp gauge.air superiority etc

[2015-07-20 00:01] kyusang600 commented on #116
Unfortunately, Download links seem to be down for the modified link?

http://kancolletool.s3.amazonaws.com/downloads/0.9.4/KanColleTool-0.9.4.dmg

[2015-07-20 05:13] SoftwareGuy commented on #118
```feature wise battle prediction, enemy firepower and hp gauge.air superiority etc```
...That would be insane to try to implement, but having the option to export would be great. Not sure if the sorting already exists if you click the top of the columns...

[2015-07-20 05:27] SoftwareGuy commented on #116
Hmm, seems to be "Access Denied". Maybe @uppfinnarn is working on it or something (or perhaps AWS doesn't allow DMGs to be downloaded...?)

[2015-07-20 07:11] Yukariin commented on #118
See https://github.com/KanColleTool/KanColleTool/issues/118#issuecomment-122508309

[2015-07-20 07:22] SoftwareGuy commented on #118
Yeah, I confirmed it seconds after posting that comment. I'm slowpoke.

[2015-07-20 08:20] uppfinnarn commented on #116
Fixed, the permissions got weird for some reason.

If someone could get me a Windows build, I could push out the release fully, otherwise it'll have to wait until I fix this Windows install.

[2015-07-20 09:12] SoftwareGuy commented on #116
If you tell me what I'd need to compile the app, I'll do the build for you tomorrow.

[2015-07-20 12:35] kevin01523 commented on #118
@SoftwareGuy  '''..That would be insane to try to implement,'''

actually it already implemented on this project https://github.com/RyuuKitsune/ElectronicObserver

[2015-07-20 12:45] Yukariin commented on #118
Lol, KCV! have similar feature too. But this two tools written on C#, .Net, WPF, etc - in other words those apps is Windows only and absolutely unportable.

[2015-07-22 09:44] kevin01523 commented on #116
@SoftwareGuy

http://mirrors.hust.edu.cn/qtproject/archive/qt/5.3/5.3.1/qt-opensource-windows-x86-msvc2013-5.3.1.exe use this qt or

use the latest one which is 5.5

http://mirrors.hust.edu.cn/qtproject/archive/qt/5.5/5.5.0/qt-opensource-windows-x86-msvc2013-5.5.0.exe

on winbuild.bat if it cannot find qt for windeployment

change
for /d %%f in (C:\Qt\5.*) do (set QTDIR=%%f\msvc2013)

into

:: Fin

[2015-07-22 09:50] SoftwareGuy commented on #116
Thanks. Will do that tomorrow. Been busy with RL job and other private stuff.

[2015-07-22 10:09] uppfinnarn commented on #116
@kevin01523 There is so much wrong with this.

FOR STARTERS, just download Qt from the official site and you won't have issues with paths. Just be sure to install the VS2013 packages. Any version past 5.3 works.

Second, that installer script was fixed a few days ago when I tried to build it, and would have been fixed a whole lot sooner had you actually told me it was broken >_>

Third, your local

[2015-07-22 10:39] SoftwareGuy commented on #116
@uppfinnarn What I downloaded while I was in the field was a QT Addin for VS2013. Was this what I needed, or do I need the "full" SDK as what @kevin01523 mentions? That addin I got is 1.24 with QT 5.5 I think. If it's the wrong one that's no biggie, I'll redownload the right thing.

[2015-07-22 10:42] Yukariin commented on #116
@SoftwareGuy you need x86(64) libraries and Qt Creator, or VS addin if you prerer VS instead of Qt Creator.

[2015-07-22 10:49] uppfinnarn commented on #116
You don't need the addin (that's for handling Qt Creator project files), but you should get the toolchain for msvc2013 - more specifically, the 32-bit version, as Flash Player is still 32bit only (*sigh*).

(If you install the 64-bit version too, it'll be silently ignored by the build script, so feel free. It'll work as long as the 32bit version is there.)

[2015-07-22 10:50] uppfinnarn commented on #116
Also, right now it builds with no effort on 5.3, 5.5 gets you debug DLLs for some reason, and someone has to investigate why that is. It's probably as simple as a missing flag to `windeployqt`.

[2015-07-22 11:05] SoftwareGuy commented on #116
@uppfinnarn Ok so, I'll get Qt's 5.3.2 release from http://download.qt.io/archive/qt/5.3/5.3.2/qt-opensource-windows-x86-msvc2013-5.3.2.exe . That should be 32bit, as I see the 64bit versions have _64 in the filename.

I install that toolchain, clone the project into a empty folder, run the winbuild and prepare a readme file. Then archive it and paste the URL for you to mirror. Right?

[2015-07-22 11:07] uppfinnarn commented on #116
@SoftwareGuy You could actually download the up-to-date online installer, as it will give you a choice between *all* released major versions since 5.0, and can manage multiple, concurrent installs.

Other than that, yup, except the README file is already there, someone just moved it for whatever reason.

[2015-07-22 11:09] SoftwareGuy commented on #116
@uppfinnarn OK, only thing is I'm on 30GB quota and the offline installer is a good chunk (just over half a gig?) so if the online installer somehow cuts down the bloat by leaving some stuff out then that's cool. Otherwise I might as well just hit the offline installer.

[2015-07-22 11:11] uppfinnarn commented on #116
@SoftwareGuy Yeah, the online installer can pull down only the stuff you need and nothing more (and more importantly, nothing less).

[2015-07-22 11:18] SoftwareGuy commented on #116
@uppfinnarn gotcha. I'll let you know how it goes. *scribbles on post-it note*

Haruna will be happy to see me again, I suppose. Either that or Tenryuu will want to go to the beach.

[2015-07-22 16:52] uppfinnarn commented on #116
By the way, now that I'm more awake, @kevin01523: What I'm upset about here is people finding an issue, and instead of, you know, *fixing it** or so, they hastily work around it.

This mentality plagues so many modding scenes that it's not even funny. Eventually, you get ten different versions of a tool floating around, each with a different set of patches, and people stick to outdated versions be

[2015-07-22 21:53] SoftwareGuy commented on #116
@uppfinnarn I agree with most of your concern. I would hate to see this project tear up and quit, mainly because AFAIK KCT is the only crossplatform tool in QT and it works. It doesn't even need Internet Exploiter or Edge unlike KCV which is WPF/.NET. And I like having a tool that I can use regardless of platform.

On a build note... I just woke up and if all goes well I will have a build in a few

[2015-07-23 00:46] SoftwareGuy commented on #116
[code]

[2015-07-23 00:51] uppfinnarn commented on #116
You didn't pull down submodules =w=

[2015-07-23 00:52] SoftwareGuy commented on #116
I did a complete clone though, using the git clone thingy that appears in the sidebar...
Grrrr....

[2015-07-23 01:23] SoftwareGuy commented on #116
Compile done without error. http://cache.coburnsdomain.com/misc/KCT_094_Win32.zip
You may point a URL to it, or reupload it to your CDN infrastructure. Up to you.

[2015-07-23 02:08] kevin01523 commented on #116
@uppfinnarn i too understand your concern as you guessed im a newcomer and not really familiar with cmake and qt so i used some quick fixes on my private build as i said above if he encountered problems building it then he should try using my suggestions and i do not propose to use it on the final build and intended only as temporary fixes hack etc.and also regarding the exporting of untranslated

[2015-07-24 06:19] SoftwareGuy commented on #116
I should check to see if my build works...

[2015-08-01 04:23] SoftwareGuy commented on #116
Okay, can anyone else confirm my build works? I've just upgraded my dev box to use Visual Studio 2015... which I think will break QT compiling. So if I'm going to do Windows builds I'll use virtual machine running Win7 and VS 2013.

[2015-08-01 04:42] strongestFairy commented on #116
@SoftwareGuy just checked your build on WinXP and Win7x64
1. build does not run on WinXP at all.
2. operable on Win7x64 but translation does not work (load error).

[2015-08-01 06:42] SoftwareGuy commented on #116
@strongestFairy
1. Windows XP likely unsupported as I didn't specify any compatibility settings (if it's a flag or something I need to pass to cmake or MSBuild, let me know). I do not officially support Windows XP as it's obsolete and personally think anyone using it should upgrade. (No offense)
2. The translation load error would be something with @Yukariin's github JSON.... could you screenshot

[2015-08-01 07:13] Rhextian commented on #116
@SoftwareGuy
i tested your build and the translation also wont load unless i added ssleay32.dll and libeay32.dll to the .exe path w/c is the solution i did to fix my build

@strongestFairy
try extracting this to your kancolle tool folder and see if it works
https://www.mediafire.com/?istttyuiax8lz1p

[2015-08-01 07:21] SoftwareGuy commented on #116
@Rhextian ah, yeah. the openssl libs. Forgot about them, i thought QT was going to copy them as part of the build process. Whoops.

Might update that package and re-upload a fixed version tomorrow.

[2015-08-01 07:35] Rhextian commented on #116
@SoftwareGuy
OpenSSL 0.9.8zg

[2015-08-01 07:38] SoftwareGuy commented on #116
@Rhextian good to know.

[2015-08-01 07:44] SoftwareGuy commented on #116
Okay. Here's release 2 of my 0.9.4 build with the OpenSSL 0.9.8zg DLLs that @Rhextian provided (thanks mate!): http://cache.coburnsdomain.com/misc/KCT_094_Win32_r2.zip

If @uppfinnarn puts a link to this build on the KCT minisite, please make sure there's a notice saying minimum Windows 7 OS. There is no XP support in this build, as @strongestFairy found out.

[2015-08-01 07:53] SunDwarf commented on #116
Why exactly are you using OpenSSL libraries that are many years old?
On 1 Aug 2015 8:44 am, "SoftwareGuy" <notifications@github.com> wrote:

[2015-08-01 07:58] SoftwareGuy commented on #116
@SunDwarf I don't know, I was just using what I was given.
There, r3 repack with 1.0.2d libraries: http://cache.coburnsdomain.com/misc/KCT_094_Win32_r3.zip

[2015-08-01 08:40] strongestFairy commented on #116
@SoftwareGuy actually WinXP is supported, I use build made by @kevin01523 (link posted in this thread) and it works nice on my old netbook! His patch here: https://github.com/KanColleTool/KanColleTool/issues/97  Please, try to apply it ༼ つ ◕_◕ ༽つ

Your latest build works on Win7x64 fine, translation was loaded successfully. Even screenshots works! \o/

[2015-08-01 10:32] uppfinnarn commented on #116
Oh, I thought I applied that patch, I'm a bit busy right now but I can certainly upload a build if someone applies that patch and makes me one. I just needed it verified to be working and stuff.

[2015-08-01 10:33] uppfinnarn commented on #116
Also, I think we can get away without the OpenSSL libraries if we load the translation over plain HTTP (not HTTPS). A translation JSON blob isn't exactly sensitive data, the worst an attacker could do would be to call your waifu shit in-game...

[2015-08-01 23:36] SoftwareGuy commented on #116
Okay, will rebuild with the XP patch. And loading the json over HTTP is just a matter of changing https to http, right?

[2015-08-01 23:38] uppfinnarn commented on #116
Should be, yes, but make sure it doesn't just redirect you to the HTTPS version and put you back to square one.

[2015-08-02 01:14] SoftwareGuy commented on #116
Alright. Give me a a little bit of time to sort out some things on the build machine and then I should have some results.

[2015-08-02 03:57] SoftwareGuy commented on #116
![image](https://cloud.githubusercontent.com/assets/1762115/9024633/3cf88f58-391d-11e5-8cfd-c89f4242cf19.png)

![image](https://cloud.githubusercontent.com/assets/1762115/9024653/fac7d160-391d-11e5-93a9-6c74132e5daa.png)

There we go. Translations ahoy! XP build target ahoy! Sortie!

You know? When you're walking through Visual Studio hell and you've gotta fix a few paths manually (thanks Windows!

[2015-08-02 08:47] strongestFairy commented on #116
I can confirm that r4 build is operable on WinXP_SP3. Also confirm than now https is not used any more (checked with sniffer). Good build for release! Thank you for your time guys!
![pic](http://i.imgur.com/NvxUU90.png)

[2015-08-02 14:42] uppfinnarn commented on #116
I need an installer build too and I can release it.

[2015-08-02 15:24] kevin01523 commented on #116
@SoftwareGuy to make a installer build just install  this one http://mlaan2.home.xs4all.nl/ispack/isetup-5.5.5.exe and run the batch file as provided on the final build

[2015-08-02 15:26] uppfinnarn commented on #116
@kevin01523 PLEASE stop linking shady reuploads of specific versions of things. I know you mean well, but link rot is a thing. Just link to the official site: http://www.jrsoftware.org/isinfo.php

(Unicode or not doesn't matter, since we're only using ASCII characters.)

[2015-08-02 15:37] kevin01523 commented on #116
@uppfinnarn ah sorry it was a direct link http://i.imgur.com/mri5bFq.jpg redirected from the developer site

tested the latest build by @SoftwareGuy on windows 10 works perfectly fine

[2015-08-02 22:06] SoftwareGuy commented on #116
No problems. I'll get the build box to pop out a installer and we'll be gold.

[2015-08-03 01:03] SoftwareGuy commented on #116
There we go, @uppfinnarn: http://cache.coburnsdomain.com/kct/KCT-094r5-Win32installer.zip
I call this release 5 (**r5**) because well, it's the 5th package I've done for this version. :smile:
It may cause some minor confusion but it's just 0.9.4 with XP build target and the non-SSL patch in a neat all-in-one installer.

[2015-08-03 15:07] uppfinnarn commented on #116
And… it's out!

http://kancolletool.github.io/2015/09/03/version-0.9.4/

[2015-08-03 15:07] #116 closed

[2015-08-03 21:51] SoftwareGuy commented on #116
Uhhh... Released on 3 Sep 2015? You mean August?

[2015-08-04 06:23] SoftwareGuy opened #119 "File caching proposal"
Just thinking how we could implement a cache system. Yes, we shouldn't cache the SWFs because the cache could be come corrupt or stale and cause version mismatches, but here's what I propose:

**When the viewer is going to load a file, intercept the request.**
- Stage 1: Fire a request to DMM Server for the length/date modified.
- Stage 2: Check file modification date against our local copy.
  - I

[2015-08-04 07:13] uppfinnarn commented on #116
Dates are hard

[2015-08-04 07:16] SoftwareGuy commented on #116
Happens to the best of us.

[2015-08-04 07:16] uppfinnarn commented on #119
[I'm pretty sure this is already happening?](https://github.com/KanColleTool/kct-viewer/blob/master/src/KVMainWindow.cpp#L49)

If it's not working to a satisfactory degree though, reimplementing [QAbstractNetworkCache](http://doc.qt.io/qt-5/qabstractnetworkcache.html) to provide more aggressive/selective caching could be a good idea. It doesn't look too hard either.

[2015-08-04 07:18] SoftwareGuy commented on #119
Can't confirm the caching is happening, when I logged into KC today it wanted to download all the assets (rather than just blitzing through the loading bar). I'll see if it sticks tomorrow, otherwise could an "expiry" HTTP header be expiring the files?

[2015-08-04 07:19] uppfinnarn commented on #119
Ah, of course, that cache assumes proper caching headers on the remote resources, which they would of course not send out >.>;;

Reimplementing the cache sounds very tempting, and it seems like a better solution than trying to inject HTTP headers into responses.

[2015-08-04 07:22] SunDwarf commented on #119
What headers? The official severs send a Content-Type header, an
X-Powered-By header, and.... that's it.

Caching would probably be impossible without anything to say what the file
is like before its downloaded.

[2015-08-04 07:26] uppfinnarn commented on #119
DMM in charge of running servers (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧

What we could do is just, checksum mainD2.swf and clear the cache if that changes. That should invalidate the cache for every patch, as mainD2.swf contains rotating keys for requesting port2.json.

[2015-08-04 07:33] SunDwarf commented on #119
I can't check this as my PC is 150 miles away, but do the older versions of
the files (?VERSION=) successfully download? I mean KC being KC it might
just return 200 but with their shitty api response, or it might return 403,
meaning it needs to invalidate the cache.

[2015-08-04 07:36] uppfinnarn commented on #119
I *think* that's a cache buster, actually, now that you mention it… I can't verify it right now, but I can in a while, if nobody else does it first.

[2015-08-04 07:51] uppfinnarn commented on #119
Interestingly, it seems to respect `If-Modified-Since` and properly returns HTTP 304s.

[2015-08-04 07:57] uppfinnarn commented on #119
Yup, cache buster! At least for Core.swf, the latest version and a gibberish version have identical checksums. We can use this.

[2015-08-04 08:07] uppfinnarn opened #120 "Get rid of the Mac Viewer"
It was originally introduced as a stopgap solution to work around a compatibility issue between Qt and Flash. This bug no longer exists.

However, the game doesn't actually load fully in the Qt viewer on OSX, I'm trying to figure out why.

[2015-08-04 08:10] SoftwareGuy commented on #120
I bet it would have something to do with the permissions or sandboxing that OSX does.
I don't use a Mac so I won't be much help, but well, Apple is Apple.

[2015-08-04 08:11] uppfinnarn commented on #120
KCT doesn't even run sandboxed >.>;;

[2015-08-04 08:13] SoftwareGuy commented on #120
Really? I thought by default OSX throws everything in the Application Sandbox unless you tell it to.

[2015-08-04 08:14] uppfinnarn commented on #120
No, it's an opt-in security feature. It prevents bugs from being used to exploit the user's machine. KCT could be made to work just fine in a sandbox, but ~effort~.

[2015-08-04 08:27] uppfinnarn commented on #120
False alarm, looks like it is loading - it's just excessively slow, for some reason. Thanks, DMM.

(ping @Yukariin)

[2015-08-04 08:27] #120 closed

[2015-08-04 19:07] Yukariin commented on #120
@uppfinnarn hmm, seems still looped on my Yosemite VM:
![screen shot 2015-08-04 at 22 05 26](https://cloud.githubusercontent.com/assets/6450725/9069953/398e3bf4-3af5-11e5-911a-335b079a9c39.png)

[2015-08-04 19:09] uppfinnarn commented on #120
Give it a while. Check with Wireshark if it seems to have hanged. It loaded for me, but took several minutes, because their servers are hot garbage :/

[2015-08-04 19:44] Yukariin commented on #120
Well, after waiting about 30 mins - steel looped.

[2015-08-04 19:53] uppfinnarn commented on #120
Please check Wireshark. And that it loads properly in Chrome or something.

[2015-08-05 02:12] SoftwareGuy commented on #119
So you're saying that the gibberish is what causes KCT to bust the cache and redownload the assets everytime? If we just chop the `?VERSION=` part off the request, it should be OK, no?

Or am I reading this wrong?

[2015-08-05 11:27] uppfinnarn commented on #119
No, a cache buster is the exact opposite - it's a string tucked onto the end of the URL of a static asset, by an uncacheable one with knowledge of various files' versioning, to force a cached asset to be redownloaded.

Let's say you have a webapp. Since it's 2015, you naturally have an asset pipeline of some kind - compiling LESS/SASS sources into CSS, combining and minifying JS files, etc. into a

[2015-08-05 22:53] mariokamenjak opened #121 "0.9.4 How to build on Ubuntu?"
My question is in the title, I have Ubuntu 15.04.

[2015-08-05 23:01] uppfinnarn commented on #121
Off the top of my head:

[code]

That will build a Debian package out of the sources (after asking you a bunch of questions about it).

(Also ping @LynxyssCZ about pushing an official package for 0.9.4)

[2015-08-05 23:18] mariokamenjak commented on #121
Sorry but this is happening:
CMake Error at CMakeLists.txt:33 (add_subdirectory):
  The source directory

    /usr/local/src/KanColleTool-master/viewer

  does not contain a CMakeLists.txt file.

CMake Error at CMakeLists.txt:34 (add_subdirectory):
  The source directory

    /usr/local/src/KanColleTool-master/tool

  does not contain a CMakeLists.txt file.

[2015-08-05 23:23] uppfinnarn commented on #121
(Use fenced code blocks for pasting logs, I edited your comment just this once.)

Looks like you haven't pulled down submodules:

[code]

[2015-08-06 04:35] SoftwareGuy commented on #121
On Windows, this is what I did:
`git clone --recursive https://github.com/KanColleTool/KanColleTool.git KanColleTool.git`

This auto-recurses the git repo and will auto-checkout the submodules instead of having of pulling just the master tree and then having to run the submodule update. Although the above is handy when you want a fresh copy, if you just want to update the submodule then do what up

[2015-08-06 04:40] SoftwareGuy commented on #119
OK, so we aggressively cache the versioned assets... So then we'll just load from disk instead of querying the server every request for SWF files? By that, I mean:

* KCT is about to load "PortMain.swf?ver=9001"
* KCT knows we cached that before
* KCT jumps the shark and passes the game the cached copy of that file since it knows it's the correct one thus saving download time from DMM servers
* Ga

[2015-08-06 08:05] SunDwarf commented on #119
Good luck tricking the game into loading said files.

[2015-08-06 09:29] uppfinnarn commented on #121
[code]

Is the same as running

[code]

[2015-08-06 10:37] uppfinnarn commented on #119
We control the entire network stack already (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧

I also just tested and the normal cache it's using now seems to cache everything just fine for me, doesn't it for you?

[2015-08-06 10:45] SunDwarf commented on #119
Confession: I've never used KCT. My personal experience with this was
trying to get the client to download files from DMM using 302s, which
unsurprisingly didn't work

[2015-08-06 11:16] mariokamenjak commented on #121
I have installed it, but now I get a blank screen on the viewer and kancolletool.
I have tried entering my api link, getting my api link, resetting, clearing the cache...of course the cookie hack is enabled. I have reinstalled flash.

When I run it from terminal these are the outputs:
http://pastebin.com/GMNLPdih

[2015-08-06 18:53] uppfinnarn commented on #121
Why in the world are you using sudo to run a desktop program? That just may be why, actually. Otherwise I have no idea, I can't seem to reproduce it.

[2015-08-06 18:59] mariokamenjak commented on #121
I used it both without and with sudo. ofc. I only tried sudo after I tried everything else.

I guess I am just going to wait for the packaged version.

Sorry if I bothered you, you are doing awesome work.

[2015-08-06 19:13] Yukariin commented on #121
@mariokamenjak check that you have installed NPAPI flash player

[2015-08-06 19:40] mariokamenjak commented on #121
hm, I thought any flash player was good enough, anyhow I have now installed npapi like this:
http://www.omgubuntu.co.uk/2014/06/install-pepper-flash-chromium-ubuntu-14-04
I will now reboot just to make sure that my laptop uses this new library.

[2015-08-06 19:57] mariokamenjak commented on #121
no change yet...
Also I forgot to mention but the dmm website when getting a new api link does load correctly.
However when I am getting a new api link, I get many messages like this one:
-> Nope, no externalswf yet

[2015-08-06 20:48] uppfinnarn commented on #121
That's PPAPI, NPAPI is the `flash-plugin` package on most Linux distros. Can Firefox load the game?

[2015-08-06 20:52] mariokamenjak commented on #121
Yeah firefox works with it.

[2015-08-06 21:31] mariokamenjak commented on #121
anyhow I have reinstalled npapi,but still it does not work.
However when I install it from  Adobe's website I at least can play it on chromium with the kc3 kai extension. But kancolletool does not work with any of the viewers.
The problem is that the game is the only reason I even use chromium. Firefox does not have a translation extension for the game.

[2015-08-06 21:44] uppfinnarn commented on #121
Can you try with [QtWeb](http://www.qtweb.net/)? (Preferably both an official and a source build, if there is an official build available)

That uses the same rendering stack as we do, so it's my go-to test thingie for when things don't load.

[2015-08-06 22:03] mariokamenjak commented on #121
I have tried qtweb and it seems to want to download an .swf file when I tell it to go to my api link.

[2015-08-06 23:56] SoftwareGuy commented on #121
Should I try a compile on my Linux Mint 17.1 machine to see if I can replicate the same issue as @mariokamenjak? It's based off Ubuntu 14.04 LTS and uses XFCE.

[2015-08-06 23:58] SoftwareGuy commented on #119
Do you want me to test, @uppfinnarn ?

[2015-08-07 05:24] dicedlemming opened #122 "Cat Screen On Screen Change"
Running latest version on Win7.

When I switch between screens too quickly, I frequently get the cat screen and have to reset. The most common times are when I accept/complete an achievement, switch achievement pages, rapidly remove/equip equipments, select choices quickly when deploying, etc. Pretty much doing anything as fast as you can.

If I take my time and give it a second on each page, it d

[2015-08-07 07:32] SoftwareGuy commented on #122
I'd dismiss your issue with "Slow down! You're going too fast.", but I won't. :stuck_out_tongue:

Do you have translations enabled when you get the error cat screen or are you just running KCT vanilla without the translation enabled?

Given DMM's servers aren't the best, it could be that the server's overloaded at the time the game requests the API action, or you're going too fast and the QT netwo

[2015-08-07 09:14] dicedlemming commented on #122
I tried to isolate it. Still happens with every setting off. Having the extra tool open or not doesn't seem to influence it at all.

The only other hint I can provide is that it seems to happen when it makes a request. It never finishes the action. I click to equip something and it cat screens me after the in game update animation spins for 1/8th of a second. When I come back, the action isn't com

[2015-08-07 11:11] uppfinnarn commented on #119
It should be working already, but please do.

[2015-08-07 13:12] SunDwarf opened #123 "Failure to build under clang++"
Clang++ fails on KVTranslator.cpp using Clang 3.6.2.

Full log:
[code]
make: *** [all] Error 2

[2015-08-07 13:15] uppfinnarn commented on #123
That's… interesting, considering I'm working on it with Clang right now o.O

Outdated version, perhaps?

[2015-08-07 13:16] SunDwarf commented on #123
Freshly cloned off the presses. Works fine with gcc.

[code]

[2015-08-07 16:48] uppfinnarn commented on #121
Please do.

[2015-08-07 19:52] mariokamenjak commented on #121
Is there any way I could contribute to the project? I know QML. And basics of ANSI C, Java and C++.

[2015-08-07 22:16] SoftwareGuy commented on #122
Hmmm... And HTTP requests are TCP, so the other server needs to acknowledge the request or the game will either resend the request or errorcat.

Can you disable your firewall just for testing? Maybe some connection limiter is causing interference.

[2015-08-08 00:09] SoftwareGuy commented on #121
@uppfinnarn git cloning and compiling now.

@mariokamenjak Sure, if you have some prototypes of ideas, I'm sure uppfinnarn and the others will look at your code. Just remember that they are not overly fussy - that's not the right word - but they have a standard they want to maintain. For example, maybe you could work on a exporter for the Ship List tab in the Tool to say, HTML, Text or even perhap

[2015-08-08 00:39] SoftwareGuy commented on #121
And I'm back with results. Linux Mint 17.1 (ubuntu 14.04.2 LTS core) and XFCE:
![screenshot - 080815 - 10 37 46](https://cloud.githubusercontent.com/assets/1762115/9148260/89164d80-3db9-11e5-8c90-00efdf4bf58c.png)

Synaptic Package Manager:
![screenshot - 080815 - 10 38 28](https://cloud.githubusercontent.com/assets/1762115/9148263/9ebff212-3db9-11e5-9974-4f85ff7e663e.png)

If in doubt, just grab

[2015-08-08 00:52] SoftwareGuy commented on #119
Okay, I tested it and it seems that the cache is working for the main SWF and the core and portmain. Any other scenes just errorcat, which is weird. 0.9.4 on Windows (my build that you released) doesn't do that, but on my Linux Mint it does. WTH?

[2015-08-08 04:50] SoftwareGuy commented on #122
I'm experiencing some errorcats at the moment, I've just built from the source and it seems to just errorcat on any scene change (going from the office to build docks, etc).

[2015-08-08 05:42] kevin01523 commented on #122
me too im experiencing cat screen even after clearing cache i built mine to 5.5 still error cat before showing homescreen renewd api etc

[2015-08-08 10:03] SunDwarf commented on #119
As of today, (at least the one I play on) DMM servers are now sending proper cache headers?

[code]

[2015-08-08 19:34] uppfinnarn commented on #121
@SoftwareGuy She =w=

@mariokamenjak But yeah, if you want to contribute, go right ahead. I'm currently working on refactoring the Viewer to be less of a clusterfuck internally, and I'm planning on doing the same to the Tool afterwards. If you know QML, do you think you could build a new UI for the Tool in it?

@SoftwareGuy Can you check with Wireshark if anything looks off? Also test with an earl

[2015-08-08 20:08] mariokamenjak commented on #121
I actually think I could.However next week is busy for me,so I will put it on my to do list.

[2015-08-08 20:57] Yukariin commented on #121
I'm tried use QMl for UI and using our C++ objects as model for Qml views looks verytricky >_<

[2015-08-08 22:14] SoftwareGuy commented on #121
@uppfinnarn sorry about the gender confusion. first I will check with my windows build and see if its just platform specific. I know the Windows build works, because I tested the installed bundle after it came out of the oven. Then I fire up WireShark and do some debugging.

[2015-08-08 22:15] SoftwareGuy commented on #122
Strange. OK, this calls for some debugging...

[2015-08-08 22:42] SunDwarf commented on #122
I can confirm this happens on our own server too, for some retarded reason.

[2015-08-08 22:44] SunDwarf commented on #122
But not on the ship building screen. That's the only one it doesn't.

I blame @uppfinnarn's caching system.

[2015-08-08 23:22] RoyceMingYu commented on #116
404 file not found? Welp.

[2015-08-09 04:27] SoftwareGuy commented on #116
@RoyceMingYu click down a number (replace the 09 with 08) http://kancolletool.github.io/2015/08/03/version-0.9.4/

Fun fact: 0.9.4 was "officially released" on my birthday (3 August). :smile:

[2015-08-09 04:32] RoyceMingYu commented on #116
Thank you very much :)

[2015-08-09 04:40] SoftwareGuy opened #124 "KanColleTool 0.9.4 will not allow user to "Get API Link" (Win32 build only)"
**Problem:**
Using the "Get API Link" function results in a white page.

*wrong, my bad, this was the original issue*
~~KanColleTool may crash when one goes to use the option "Get API Link" and clicks either "English" or "Japanese" on the "Welcome to DMM" popup. This is caused by an oversight of not having the SSL libraries included with 0.9.4 as the "Get API Link" contains a login page which then

[2015-08-09 04:46] SoftwareGuy commented on #122
Not happening at the moment on official 0.9.4... Maybe a Linux only quirk? Running a sortie to test.

[2015-08-09 07:11] Yukariin commented on #124
Wat?
Previous version of KCT contains OpenSSL libs in standalone and installer and works fine.

[2015-08-09 07:28] SoftwareGuy commented on #124
Yes, one can install 0.9.3 and then update to 0.9.4 but this oversight is my error because I didn't realize the "Get API Link" function uses a SSL connection.

Actually you know what? The reason I got that crash was bloody Windows was loading the SSL files from a PHP directory that I have on my development stack. If you use "Get API Link" and you don't have the DLLs, you get a white page. If you h

[2015-08-09 07:42] SoftwareGuy commented on #124
@uppfinnarn Can you change the download packages to [this one for the extract and run package](http://cache.coburnsdomain.com/kct/KCT_094_r6_win32-xptarget_sslfixed.zip) and [this one for the installer](http://cache.coburnsdomain.com/kct/KCT_094_r6_installer.zip). Both are updated with the SSL libs, which would then make this issue obsolete and everyone happy.

[2015-08-09 08:25] dicedlemming commented on #122
Disabling firewall/antivirus (only have windows built ins) doesn't seem to change the frequency of cats. And yes to your earlier post, it is entirely during requesting a scene update. Switching to new locations, changing achievement pages, accepting an achievement, unequipping/equipping things. Anything that would request some sort of update, I guess.

Still cat free in Chrome/Firefox browser and

[2015-08-09 08:44] SoftwareGuy commented on #122
Hmm... Well I use Windows 7 myself and I didn't get any errorcats. I went on about 3 sorties and built another Kaga. Maybe the server you're registered on is having issues.

[2015-08-09 09:37] Yukariin commented on #122
This is Linux Flash issue https://github.com/KanColleTool/KanColleTool/issues/100

[2015-08-09 23:13] uppfinnarn commented on #124
Gah, this was buried under a mountain of unimportant emails. You may need to build it as 0.9.5 and push it as an update, because otherwise everyone who installed it already will have a broken install.

[2015-08-10 01:26] SoftwareGuy commented on #124
@uppfinnarn Sure thing. Should I fork this repo, make my changes (up the version number) and then submit a pull request so you can sync and I'll provide packages?

[2015-08-10 01:35] uppfinnarn commented on #124
That works

[2015-08-10 05:02] SoftwareGuy commented on #124
![image](https://cloud.githubusercontent.com/assets/1762115/9159676/bdf97d20-3f70-11e5-8e83-769c6efb05b3.png)
**Version 0.9.5: SoftwareGuy broke something but then DMM broke it even more Edition**

Build done, uploading now.

[2015-08-10 05:51] SoftwareGuy commented on #124
@uppfinnarn Here you go:
Installer: http://cache.coburnsdomain.com/kct/KCT-095-Win32-Setup.zip
Installer: http://cache.coburnsdomain.com/kct/KCT-095-Win32.zip

**Changelog**
- Tool uses up-to-date submodule code.
- Viewer uses latest code up to kct-viewer commit ddf5f2d92d2eacf591a1b6e5875dad9ed4ef9b82. Latest commit causes compiler errors, something about OneShot taking only 1 parameter, not 2.
-

[2015-08-10 06:08] SoftwareGuy commented on #124
Actually... fudge. DMM did a hard one on us.

![image](https://cloud.githubusercontent.com/assets/1762115/9160239/ff457adc-3f79-11e5-86aa-7f204ccf029a.png)

Thanks a lot, DMM.

[2015-08-10 14:39] Yukariin commented on #124
Huh? Viewer and Tool works fine for me.

[2015-08-10 14:44] Rhextian commented on #124
also works fine on my side, well that error showed up once when it was maintenance though

[2015-08-10 17:32] uppfinnarn commented on #124
@SoftwareGuy I do not appreciate sneaky changes to the README with no discussion around the change or its wording.

[2015-08-10 21:27] SoftwareGuy commented on #124
@uppfinnarn no worries, I'll revert it.

[2015-08-11 01:59] SoftwareGuy opened #125 "Proposal: Update the readme to reflect XP obsoleteness and other things"
Alright, so here's the idea after I got busted for a sneaky README edit as you can see in issue #124. That has been rectified and I learnt from my mistake which won't happen again, so let's move on and here's what I propose:

Update the readme with a message to Windows XP users that future versions of KCT may drop support for XP, or even the QT stack may just say "Screw it, no more QT on XP, we're

[2015-08-11 08:19] Rhextian commented on #116
as of 8/10/15 update, Yukariin's patch https://gist.github.com/Yukariin/90c379d26fad1edf7317 doesnt seem to work on my previous build w/c was working 2 weeks ago.
no unstranslated.txt file was created when u run KCTViewer.exe

[2015-08-11 08:22] uppfinnarn commented on #116
I have some ideas for this, but I'm not going to support anything involving patched builds floating around. That way lies madness.

Basically, it'll have to wait until I've rewritten the translation machinery, after which we can work out a proper format for this.

[2015-08-11 08:37] uppfinnarn opened #126 "Proposed translation file format"
My current idea is this for the redesigned translation database:

[code]

And for the blacklist:

[code]

A bit more verbose to transfer over the network, but it will allow us to manage the translation on Github, rather than through a locked-away (and now defunct) admin panel.

Opinions? (ping @Yukariin in particular)

[2015-08-11 08:38] uppfinnarn commented on #116
Posted #126 for this

[2015-08-11 08:44] Yukariin commented on #126
Not sure about `ctx` and `key` in translation file. We really need this?

[2015-08-11 08:47] uppfinnarn commented on #125
XP is ancient, and there is absolutely no excuse to still use it in 2015. It's over ten years old, and lacks basic functionality by today's standards - and that's not even mentioning all the bugs, some of them blatant security holes, making it unsuitable for just about anything but really old, cheap netbooks that can't be upgraded past XP.

From a developer's point of view, officially supporting i

[2015-08-11 08:50] uppfinnarn commented on #126
Context for translation, not used for the actual lookups - some words or phrases may be difficult to translate without knowing the context for its original occurrence.

Also for easily blacklisting keys by looking at the untranslated strings it dumps and copying the `ctx` + `key` into the blacklist file.

[2015-08-11 08:51] #93 closed

[2015-08-11 08:54] #97 closed

[2015-08-11 08:54] uppfinnarn commented on #97
Should be merged into the latest release.

[2015-08-11 08:56] uppfinnarn commented on #100
Is this still an issue?

[2015-08-11 08:57] Yukariin commented on #126
I see. Well I'm not mind.

[2015-08-11 08:57] uppfinnarn commented on #101
Reopen if it reappears. The current tool UI will likely be scrapped for 1.0 either way in favor of a QML-based UI, which should get rid of any remainder of this bug.

[2015-08-11 08:57] #101 closed

[2015-08-11 08:58] #102 closed

[2015-08-11 08:58] uppfinnarn commented on #103
Finally shipped in 0.9.4.

[2015-08-11 08:58] #103 closed

[2015-08-11 08:59] uppfinnarn commented on #106
A bit late, but noted. The tool UI will get a major overhaul for 1.0, so that's probably when it'll happen.

[2015-08-11 09:00] uppfinnarn commented on #108
Closing since it's months old now, reopen if you can get a hold of that crash log.

[2015-08-11 09:00] #108 closed

[2015-08-11 09:01] uppfinnarn commented on #109
My development version now supports Retina resolutions natively without Retinizer, it'll be released with 1.0.

[2015-08-11 09:02] uppfinnarn commented on #119
Closing this because it seems to be working already.

[2015-08-11 09:02] #119 closed

[2015-08-11 09:03] #121 closed

[2015-08-11 09:05] uppfinnarn commented on #122
@dicedlemming Could you run Wireshark and see if you can figure out what's happening?

Set the capture filter to `host <your server IP>` and start capturing, then filter the results by `http` and you should have a good view of what's going back and forth.

[2015-08-11 09:08] uppfinnarn commented on #123
Is it being properly run in C++11 mode? It could be something about it not being identified as GCC (it poses as it on OSX), and thus not getting the `-std=` flag.

[2015-08-11 09:31] uppfinnarn commented on #124
0.9.5 is out!

[2015-08-11 09:31] #124 closed

[2015-08-11 09:44] Yukariin commented on #122
@uppfinnarn well, I have this issue on my linux PC too.
In wireshark I see only request, without reply from server.

[2015-08-11 11:43] SunDwarf commented on #123
[code]

[2015-08-11 11:46] SunDwarf commented on #126
https://www.gnu.org/software/gettext/ ?

[2015-08-11 13:33] uppfinnarn commented on #126
That would be an option, of course. The only thing is that we'd have to upload compiled translation files to somewhere. We'd save bandwidth, but it'd possibly be harder to deal with.

[2015-08-11 14:27] #114 closed

[2015-08-11 14:31] My2ndAngelic opened #127 "Access Denied on the Amazon S3 server"
Basically, I cannot download KCT for Mac, also for Windows (up until now).

[2015-08-11 14:52] uppfinnarn commented on #127
I hate S3. Try now.

[2015-08-11 14:52] #127 closed

[2015-08-11 15:39] uppfinnarn commented on #123
I don't know if those are the right variables for this, I believe there's a new way to enable C++11 in CMake 3.1, but I'm working on the rewrite so I can't check right now.

[2015-08-11 15:41] uppfinnarn commented on #122
Sounds like a networking or server issue in that case. If the request shows up in Wireshark, it's not under KCT's control anymore.

[2015-08-11 16:06] strongestFairy opened #128 "Catbombing after latest update"
Version: 9.4  (9.5 download link is broken), OS: Win7x64

Problem: A lot of catbombing during play after the latest event update. Can't play even 10 minutes.

Workaround:
1. Cleared cache
2. Got new API link
3. Disabled translation.
Nothing helped :-(   The friend of mine uses the 9.4 too and faces the same problem.

Does someone faced the same problem?

[2015-08-11 16:15] uppfinnarn commented on #128
Try 0.9.5 now, the download is fixed.

[2015-08-11 16:26] strongestFairy commented on #128
Downloaded and tried.

The problem is still here. The most often catbombing happens when I try to manage my ships or check the quest list.
When I play via API link directly in Firefox browser I do not meet any problems.

[2015-08-11 16:40] uppfinnarn commented on #128
This is strange. Does the same thing happen if you have translation disabled?

[2015-08-11 16:46] strongestFairy commented on #128
Yes. I've checked one more time. Disabled translation, restarted the client. And got and error very soon.
![catbomb](http://i.imgur.com/C9sQvFK.png)

[2015-08-11 16:48] uppfinnarn commented on #128
Can you check with Wireshark, to see if the requests are flowing properly?

Also, of course, this happens if your API link is invalid, but if you can play with Firefox that can't be it...

[2015-08-11 16:57] strongestFairy commented on #128
Made a Wireshark trace: http://www.mediafire.com/download/jar9eklybf8uxf8/kct9.5.pcapng
Packet with API link deleted from this trace.

[2015-08-11 17:09] uppfinnarn commented on #128
This is strange - it keeps going like usual all the way until the last bit there... then it sends three RST packets, indicating a closed socket ("connection reset by peer", as it's usually worded).

I'm going out on a limb here, but what happens if you recompile the viewer with a different user agent, in case this is something DMM are doing on purpose?

[2015-08-11 17:14] strongestFairy commented on #128
I tried to compiler Viewer some time before but failed at some point. I'm not strong with programming >.>
Maybe it can be done with some external tool like Fiddler http proxy...

[2015-08-11 17:25] uppfinnarn commented on #128
Hm. @SoftwareGuy, can you give it a shot instead, if you have a Windows machine handy?

(Assuming Windows, since the Mac download should have been working around the time you posted the issue.)

[2015-08-11 17:36] SunDwarf commented on #128
Just a note, you need to get a new API token now (your current one begins with 4add.)

[2015-08-11 17:40] strongestFairy commented on #128
@SunDwarf Thank you. I know this and already made a new one. API link is repeated inside each http request.

[2015-08-11 18:00] Yukariin commented on #128
I have randomly catscreen too, I rebuild it with `Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)` and test.

[2015-08-11 18:03] uppfinnarn commented on #128
What does Flash Projector do? Can you compare Wireshark captures between the two?

[2015-08-11 18:26] Yukariin commented on #128
Nope, still have catscreen with changed UA.

[2015-08-11 21:56] SoftwareGuy commented on #128
Hmm. I wonder if we have a regression or something in the APi changed.
Hard to tell without the game actually stating the error (like DMM will even do that...)

Will test 0.9.5 when I log onto my workstation.

[2015-08-11 22:05] uppfinnarn commented on #128
It seems like something serverside to me. I can't think of any way we could be causing the server to send RST packets by accident :/

[2015-08-11 22:47] SunDwarf commented on #128
The RST packets in the dump are client-side.

[2015-08-11 23:09] kevin01523 commented on #128
hmm my last clone doesnt get cat errors 0.9.4

[2015-08-12 03:34] strongestFairy commented on #128
@kevin01523 could you share your binary files? I'll test them.

[2015-08-12 05:07] kevin01523 commented on #128
http://www.mediafire.com/download/e9ahv11s74so19a/KanColleTool_qt_5.5.rar

[2015-08-12 07:37] Yukariin commented on #128
Yep, I can confirm RST flag **from server** on 093-095 (Linux)

[2015-08-12 08:49] strongestFairy commented on #128
I can confirm that @kevin01523 version 9.4 is quite stable. I believe that someone should inspect the code difference between two versions -_-

[2015-08-12 08:52] Yukariin commented on #128
@strongestFairy difference between 094 and 095 - missing ssl libs.

[2015-08-12 08:56] strongestFairy commented on #128
@Yukariin I think we should ask @kevin01523 which source code version he used for compilation of this build.

[2015-08-12 09:19] kevin01523 commented on #128
my source is just a clone of kancolletool from august 7 which dont have the XP fix i dont know why that did not get pulled that time or an earlier version of the submodules was pulled

[2015-08-12 10:04] strongestFairy commented on #128
It is all very strange -___-"  case official 9.4 worked nice till Event game update.
@kevin01523 is this version is still available on your workstation? Could you push it to your github fork?

[2015-08-12 10:48] Yukariin commented on #128
http://www.mediafire.com/download/v6yat1ou6qdwn5q/095_linux.pcapng
Here my trace from 094 tag

[2015-08-12 10:59] kevin01523 commented on #128
git says im behind 3 commits from current master

[2015-08-12 11:13] strongestFairy commented on #128
Made some exploration with @kevin01523 binaries.
During play it faces RST flag from server side too but session keeps alive:
![kevin_trace](http://i.imgur.com/sj7JZz2.png)

The same query but for official 9.5 build, session meets catbomb:
![095_trace](http://i.imgur.com/lshByHs.png)

The difference is in additional SYN packet in kevin's build. I see it every time before server's RST packet.

[2015-08-12 15:22] strongestFairy commented on #128
@kevin01523 it looks like your build is not only "3 commits behind current muster" >.>
![pic](http://i.imgur.com/DnigRsF.png)
Also Viewer do not use the official remote server for translation, but some old copy from http://kevin01523.github.io/en.json
But anyway @all we need to find why Viewer's network behavior has changed!

[2015-08-12 17:09] SunDwarf commented on #128
@strongestFairy Can you do the binary comparison with the same server?

[2015-08-12 21:50] SoftwareGuy commented on #128
I'll build another version of 0.9.5 today, other pulling in the latest stuff, even if its a test build.
Network debugging is a PITA but eh, we have to come to the bottom of this.

[2015-08-12 22:06] uppfinnarn commented on #128
Hm, just for completeness' sake, could you try a build from the `rewrite` branch of the viewer as well? On the off chance that the problem is gone there, we may be able to figure out what's changed between them.

[2015-08-12 22:10] SoftwareGuy commented on #128
@uppfinnarn can do; do I check out the latest version on that branch or a specific version?
I'll do a normal build and a "rewrite" build.

[2015-08-13 00:32] SoftwareGuy opened #129 "Proposal: Add a button on "Enter API Link" box allowing a user to get API link."
At the current moment, one needs to extract their API link from the DMM website which is a pain in the butt. The "Enter API Link" needs a button that says `What? I don't have one...` or `Get API Link`. This will basically be the equivalent of doing "Get API Link" in the viewer but helps newcomers to the tool get started rather quickly.

This is an oversight because since we added the `Get API Link

[2015-08-13 00:40] SoftwareGuy commented on #128
On my fork, updated to all the latest sources (tool and viewer) and well:

![image](https://cloud.githubusercontent.com/assets/1762115/9240176/aa9d68bc-41a6-11e5-9861-9e3632a57995.png)

Wait... I got an errorcat just a moment ago when I enabled the "English Translation", but noticed "Cookie Hack" was enabled... I disabled that and reset, no more errorcat after gane loads.

Not boasting my shipgirl

[2015-08-13 01:02] SoftwareGuy commented on #128
Rewrite build failed. [Error log](https://gist.github.com/SoftwareGuy/df8a73a01c642b6750ed).

[2015-08-13 01:06] joshmackey commented on #128
I'm running a modified 0.9.4 build (same as 0.9.4 but translation source was changed) that only started getting the errorcat when the new event started. I just attributed it to the servers being busy.

[2015-08-13 01:15] SoftwareGuy commented on #128
Can anyone try [this build](http://cache.coburnsdomain.com/kct/KCT-095r2-SGTest.zip) that I've uploaded? It's 0.9.5 from my fork but with all the tool and viewer submodules in-sync with upstream (this repo). This is what I'm using atm, and it's working fine here. I'll shoot DMM if it's as simple fix as the cookie screwing us over.

[2015-08-13 06:11] kevin01523 commented on #128
@strongestFairy i did clone from 3 commits behind i checked the hashes and pushed it to my fork but older versions of viewer and tool were pulled. i did change some code on the kvtranslator but thats about it nothing more nothing less

[2015-08-13 09:16] Yukariin commented on #128
Cookie hack affected only for dmm requests https://github.com/KanColleTool/kct-viewer/blob/master/src/KVNetworkAccessManager.cpp#L30
We not have any permanent cookie storage, so by default this cookie is not set.

I checked it now. And this still sets it's at the same way. Domain `.dmm.com`, path `/` and expiration time is one year.

Furthermore rewrite branch currently doesn't have translation an

[2015-08-13 09:33] Yukariin commented on #128
Seems like you use not latest (5.5) Qt version that contains `QSslPreSharedKeyAuthenticator`.

[2015-08-13 10:07] uppfinnarn commented on #128
Just comment out the PSK stuff, it's just a forward (I copied all the signals from the manual, which is for 5.5).

What happens if you outright comment out the `webView->setNetworkAccessManager(…);` line? That'll bypass all the custom interception we do and fall back to Qt's built-in stuff.

[2015-08-13 10:40] Yukariin commented on #128
I tried this earlier. Tried default QWebView QNAM and set new QNAM manually - nothing changed.

[2015-08-13 11:11] Yukariin commented on #128
Oh, wait! Seems working!
![2015-08-13-141045_957x738_scrot](https://cloud.githubusercontent.com/assets/6450725/9248533/29409dce-41c5-11e5-9b04-a150317c0ad2.png)

I'll test it more...

[2015-08-13 11:18] Yukariin commented on #128
Nope, sorry.
![2015-08-13-141755_959x736_scrot](https://cloud.githubusercontent.com/assets/6450725/9248645/2ab279c4-41c6-11e5-92dd-94303da5f1a5.png)

[2015-08-13 12:01] strongestFairy commented on #128
I can confirm than build made by @SoftwareGuy is stable on Win7x64. It's behavior is the same as kevin's build: an outgoing SYN packet (a new network connection) before incoming RST packet from server.

[2015-08-13 15:00] uppfinnarn commented on #129
"Get API Link" (which is a terrible name for it in the first place) was kinda hastily hacked in by @Yukariin a while ago, the API link prompt doesn't actually make that much sense anymore after that…

Perhaps a better way would be to add a start page that displays if there's no API link, that shows instructions for extracting it manually or getting it via the viewer?

[2015-08-13 17:48] kevin01523 commented on #128
welp cannot build the rewrite
'''
Error	1	error C2440: 'initializing' : cannot convert from 'initializer-list' to 'QList<QNetworkRequest::Attribute>'	C:\Users\kevin0152\Documents\GitHub\kct-viewer\src\KVNetworkReply.cpp	49	1	KVBase

Error	2	error C2440: 'initializing' : cannot convert from 'initializer-list' to 'QList<QString>'	C:\Users\kevin0152\Documents\GitHub\kct-viewer\src\KVTranslator.cpp	62

[2015-08-13 21:45] SoftwareGuy commented on #128
What is this RST packet that we get bowled over on? Is it the one that causes "Connection Reset by Peer"?

[2015-08-13 22:18] uppfinnarn commented on #128
Yes, it's a TCP packet. We're talking networking on the layer below HTTP here.

An `RST` packet terminates a connection on the spot, and I'm extremely confused by what could be causing it. To the application, it looks like the connection failed due to a network hiccup (with a message along the lines of "connection reset by peer"), and this is when KanColle throws up the cat screen.

For some reaso

[2015-08-14 00:19] SoftwareGuy commented on #128
Do the RST packets occur in Chrome or Firefox? And we can't poke DMM or the KC staff about the issue, because they'll likely just drop a blanket "you shouldn't be looking at network traffic" statement, can we?

I got a feeling that it may be DMM being DMM but... hmm. I'm not sure myself - I'm not a networking expert (although I can use Wireshark).

[2015-08-14 07:58] Yukariin commented on #128
Latest IE in W10 that using KCV!:
![capture](https://cloud.githubusercontent.com/assets/6450725/9269530/478494d0-4273-11e5-92a7-aacef1375521.PNG)

[2015-08-14 08:31] uppfinnarn commented on #128
Does the surrounding traffic look any different, just in case this is a red herring and we're chasing shadows with the RST packets?

[2015-08-14 09:50] Yukariin commented on #128
@uppfinnarn on windows it's looks like server send 3 RST after EVERY API-request.
But I can mistake, need more traces.

[2015-08-14 11:28] SoftwareGuy commented on #128
I'm about to hit the bed, do you want me to run a wireshark on my connection or do we have enough traces? If you want me to, I can do one in the morning.

[2015-08-14 12:42] SunDwarf commented on #128
On 14/08/15 12:28, SoftwareGuy wrote:

If possible, could somebody run the connection through a proxy server,
that prints the results?

Here's one I found online, just sudo ./proxy.py 80 125.whatever 80 and
update your API key to point to localhost.

[code]

[2015-08-14 16:17] uppfinnarn commented on #128
On OSX, I seem to be able to play just fine (when testing the rewrite branch) as well... o.O

Also @SunDwarf, what would be the advantage of that over Wireshark dumps?

[2015-08-14 17:14] SunDwarf commented on #128
A more legible way of seeing the HTTP requests go through

Maybe DMM just hates the client but is fine with a proxy I dunno

[2015-08-14 22:41] SoftwareGuy commented on #128
Let me try that and I'll get back to you.

[2015-08-15 07:27] kyusang600 commented on #128
@uppfinnarn

OSX Viewer, Version 9.4 and 9.5 are both catbombing at really inconvenient times. Usually it catbombs when I accept the completion of a quest, change shipgirls etc.

I'm not really that strong in networking but I think DMM is changing how it deals with it's connection messing up the api-link system.

[2015-08-15 09:48] SunDwarf commented on #128
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On 15/08/15 08:27, kyusang600 wrote:

131312415>.

The API hasn't changed. That would fuck everything up everywhere, and
as far as I know, it hasn't. Also, if the routes changed, the server
would send 404s or their weird api error svdata stuff.
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iKEEARMKAAYFAlXPCsUACgkQSn/y6UVAdgSYrwIHfkoJyHGjfS6E7ii1s

[2015-08-15 10:10] kyusang600 commented on #128
@SunDwarf

I mean like the developers might be testing some new networking protocols to possibly minimise server load. That might explain the strange RST packets we are receiving when running a WireShark.

Food For Thought :3

[2015-08-15 10:17] uppfinnarn commented on #128
@kyusang600 It… doesn't really work like that.

We're not actually calling any endpoints - we just wrap the game client's networking facilities. And this seems to happen even when we disable that wrapping, which makes it even more confusing.

It's also communicating over standard TCP and HTTP, which kinda limits what the weird stuff you can do.

[2015-08-15 10:19] My2ndAngelic commented on #127
Again, the Installer version of Windows has been blocked by S3.

[2015-08-15 10:41] uppfinnarn commented on #127
gdi, fixed

[2015-08-15 12:35] kyusang600 commented on #128
@uppfinnarn

Sorry about my blabber. Just speculating. Y'know what I mean :3

Always a possibility :3

[2015-08-16 07:12] SoftwareGuy commented on #128
@SunDwarf SHA512 Email signatures :open_mouth:

That pinhole thing seems to be slow as hell or it just causes a white screen without anything loaded. I've got it on my devbox, and I've pointed the viewer to the box IP address with the rest of the string that it wants which seems to forward it onto DMM. Dump for people to check out:
![image](https://cloud.githubusercontent.com/assets/1762115/929240

[2015-08-16 07:28] SunDwarf commented on #128
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On 16/08/15 08:12, SoftwareGuy wrote:

Hmm.

One thing I noticed in my own dumps is that whenever it drops, *nothing*
is being sent. No TCP packets, no HTTP requests, nothing.

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iKEEARMKAAYFAlXQO3UACgkQSn/y6UVAdgT1ggIJAfyz2PtsPR7rYKJ30X2IE8s/
+ieYxV1UNkr13/eLjCRj5TT28Zdm/vRjM9udsMQ7P6nT5vwkty3yd2uTZmFO

[2015-08-16 10:36] SoftwareGuy commented on #128
One error cat experienced now which was caused by me having 1 quest active, and selecting page 5 of the quest log. After resetting, going directly to page 5 causes errorcat to appear. I'm not sure what the error returned is, I don't have Wireshark installed atm on this machine (it's not my home office workstation).

[2015-08-16 11:21] uppfinnarn commented on #128
If you could get us a couple of Wireshark dumps, maybe we could spot a pattern of some kind...

[2015-08-16 17:18] Rhextian commented on #128
guys, how often u guys getting catbomb? im only getting 2-4 catbomb the whole day w/ my own build

[2015-08-16 22:03] SoftwareGuy commented on #128
I'll get some dumps for you @uppfinnarn later today. That is if I can get it to carbomb... It's really random. As for @Rhextian, I sometimes get them every so often, sometimes the game will be fine for my play session.

[2015-08-17 00:14] Michaellaneous commented on #116
0.9.5 did not fix this issue, at least regarding Mac. Then again, I can't really think of a reason why anything in the mac release shouldn't use that working JSON file.
I tried to rebuild it, but a bunch of qt5 errors. It's late and I can't really do it now. I'll try it later.

[2015-08-17 07:05] SoftwareGuy commented on #128
Okay, here's a trace of the latest catbomb when I clicked on an admiral in PvP to battle. Note after the POST, I got the catbomb and it just died. No response back.

What I'm not sure about is the Dupe ACK...

![image](https://cloud.githubusercontent.com/assets/1762115/9299718/10fc28f6-4502-11e5-8aa6-4b1f6241c5b5.png)

Is there a specific filter you want me to do?

[2015-08-17 19:25] strongestFairy commented on #128
@kevin01523 I played during 4 hours on your latest 9.5 build (win7x64) and not faced any catbomb. Could you point the source code version which you used for this build?

I believe than someone should try to compile and run it with another OS.

[2015-08-17 21:12] kevin01523 commented on #128
https://github.com/KanColleTool/kct-viewer/tree/394271d008a9d87c5e286738a1fc89b146b29cf9 @strongestFairy

[2015-08-17 21:36] SunDwarf commented on #128
If this is a compiler error I am going to laugh

[2015-08-17 23:37] SoftwareGuy commented on #128
I compiled 0.9.5. I didn't change anything above that commit, I only submitted a cmake fix and that was pulled into the official repo to bring my fork and the main repo in sync.

No other code was touched, apart from updating the submodules. Now, maybe there's a mixmatch between the submodules when I built the release then that could happen and something's firing when it shouldn't or the other way

[2015-08-17 23:45] kevin01523 commented on #128
just asking what actions do the majority when the catbombing occurs i re-cloned it many times but i do not necessarily experience catbombing of any sort
i did even
git reset --hard origin/master
git clean -f -d
git submodule foreach "git checkout master; git pull
git submodule foreach git reset --hard HEAD
git submodule foreach git clean -f -x -d
to make sure my copy is clean and updated

[2015-08-17 23:46] SunDwarf commented on #128
What compiler do you use?

[2015-08-17 23:50] kevin01523 commented on #128
http://i.imgur.com/SFioxkP.jpg
and the latest qt 5.5

[2015-08-18 00:01] SoftwareGuy commented on #128
I use VS Community 2013 Update 4. I use community because Ultimate is too ultimate for my blood.
I'm about to update it to Update 5 as have been putting it off.

[2015-08-18 00:16] kevin01523 commented on #128
i just have updated to update 5 a few days ago so the one i used at my last build that @strongestFairy uses was from the ultimate RTM and encountered those error C2440 on the rewrite branch

[2015-08-18 00:20] SoftwareGuy commented on #128
Yeah, I encountered the same issue with the C2440.

[2015-08-18 04:34] kevin01523 commented on #128
![KCT 0.9.5 qt 5.5.0](http://i.imgur.com/8DhEAub.jpg)

here's my latest clean build including a installer build
https://www.mediafire.com/folder/o8k6mdsb0mqfb/KCT
zip uploaded installer still uploading on the same folder
short hashes of submodules checked out and compiled

Entering 'macviewer'
HEAD is now at 1592cfd blah
Entering 'tool'
HEAD is now at 006f234 0.9.5 bump
Entering 'viewer'
HEAD is n

[2015-08-18 06:19] kyusang600 commented on #128
I don't know if this is useful in any way but when I'm playing at my Campus (Heavily Filtered), I don't get any catbombs for some reason.

Instead it just takes a bit longer to load the specific screen (Re-Supply).

Just throwing it out there. This is Mac OSX KCTV version 9.5 btw.

[2015-08-18 06:24] SoftwareGuy commented on #128
I get random catbombs on my NBN Wireless connection (Wireless ADSL2, using TD-LTE tech). At this point I'm putting up with the catbombs. I'm too busy to compile a new version of KCT right now.

@kevin01523 do me a favor and build a version of KCT off my fork without any changes applied by yourself. The reason I ask is because you seem to be the lucky one without catbombs, and I want someone else t

[2015-08-18 12:48] kevin01523 commented on #128
'''C:\Users\kevin0152\Documents\GitHub>git clone --recursive https://github.com/SoftwareGuy/KanColleTool
Cloning into 'KanColleTool'...
remote: Counting objects: 3831, done.
remote: Total 3831 (delta 0), reused 0 (delta 0), pack-reused 3831 eceiving objects:  99% (3793/3831), 36.06 MiB | 119.0Receiving objects: 100% (3831/3831), 36.07 MiB | 121.00 KiB/s, done.

Resolving deltas: 100% (2401/2401),

[2015-08-18 19:38] uppfinnarn commented on #128
Something just struck me: try building without the XP compatibility thing (the `CMAKE_GENERATOR_TOOLSET` property). Just comment out [this line](https://github.com/KanColleTool/kct-viewer/blob/master/CMakeLists.txt#L6), run `git clean -ffdx && git submodule foreach git clean -ffdx` and try re-building.

It's a long shot, but it just may be the culprit. A bizarre issue just may have a bizarre expla

[2015-08-18 20:17] kevin01523 commented on #128
ive been using the
win xp like ages ago on my builds
but most of the time i put it under
set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY "${PROJECT_SOURCE_DIR}/bin")
well i also build the one from the origin/master without changing anything and im not getting any catbombs
well its worth a shot.

[2015-08-18 22:21] SoftwareGuy commented on #128
@kevin01523 that reference is not a tree baffles me... Unless it means my submodule is at a higher commit than upstream which is likely.

If the XP thing fixes the catbombs, then perhaps we can axe XP Support.

[2015-08-18 22:31] kevin01523 commented on #128
@SoftwareGuy  well since my builds is not affected by catbombs i have no way to test if that affects it try my latest build as its a clean build out of origin/master ugh im still stuck at e3

[2015-08-18 22:34] SoftwareGuy commented on #128
@kevin01523 OK, I'll test your build.

[2015-08-20 07:22] SoftwareGuy commented on #128
@kevin01523 Okay. What black magic does yours have that mine doesn't? It seems your build is not erroring so far, and I've just done some modernization. Going to run a sortie to see if it's still "fixed". I'm not sure what to point the finger to... Unless QT 5.5 fixed the issues.

[2015-08-20 10:32] uppfinnarn commented on #128
@SoftwareGuy …please don't tell me we've been chasing ghosts caused by an outdated library.

[2015-08-20 11:03] SunDwarf commented on #128
https://bugreports.qt.io/browse/QTBUG-46859 ?

[2015-08-20 11:42] kevin01523 commented on #128
ok im testing my old build which is on 0.9.4 and on qt 5.3. with broken translation(fixed when i added openssl libraries https://indy.fulgan.com/SSL/openssl-1.0.2d-i386-win32.zip)it uses the https:// url for the translation from yukariins repo

and i experienced about 5 cat bombs within 30 minutes

so i can say that some changes on the KC server like transferring from apache to nginx or etc caused

[2015-08-20 11:49] SunDwarf commented on #128
Judging from this, the cause seems to be QT versions less than 5.5. 90-something comments later, we find the cause, and it's Qt's fault!

[2015-08-20 12:29] uppfinnarn commented on #128
@kevin01523 s**O ABOUT THOSE _DIRECT LINKS…_**

@SunDwarf THIS EXPLAINS EVERYTHING

Does it still happen when the Windows version is built with the latest Qt version? For the Linux version, we may need to use the `Qt::QueuedConnection` workaround if the packages in circulation are too outdated.

[2015-08-20 22:17] SoftwareGuy commented on #128
@uppfinnarn honestly, I don't know why it would be caused by outdated library. I went with a sane assumption of using 5.3.2 which I think was the stable before 5.5 came put. Could be wrong.

I will update to 5.5 and then do a clean build to see if I can get a working replica of Kevin's build.
I got an errorcat twice using his build but the occurrence of them dropped a lot.

Expect a test build lat

[2015-08-20 22:51] uppfinnarn commented on #128
@SoftwareGuy Yes. If something behaves weirdly, and it's built on top of something outdated, UPDATE IT. Always. Chances are, you just fixed it without lifting a finger.

[2015-08-21 06:50] SoftwareGuy commented on #128
@uppfinnarn I'm glad I view you as a mentor, you have some very good views when it comes to programming.

Anyhow:
**Version 0.9.5b - "Thanks for breaking things, QT!" edition**
OpenSSL included. No errorcats so far (currently doing a test sortie with Tenryuu's Kindergarden).

*Downloads*
Unpack and run: http://cache.coburnsdomain.com/kct/KCT_095p1.zip
Installer: http://cache.coburnsdomain.com/kct/

[2015-08-21 08:54] SunDwarf commented on #128
Okay, that's confirmation enough.

[2015-08-21 22:06] kyusang600 opened #130 "Catbomb On Mac Viewer"
I read that the windows viewer's problem was solved with a download link provided.

Would it be possible to have a download fix for mac?

If So, That would be very appreciated.

Thanks

[2015-08-21 22:28] SunDwarf commented on #130
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On 21/08/15 23:06, kyusang600 wrote:

You'd need to compile it yourself, or wait for somebody with a mac to come up and compile it.
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iJ4EARMKAAYFAlXXpesACgkQbojIu8gUUMbtMgH/YhuemGFQWW5l1UZ/nkPm2jsk
HKYE6VjmMnVPW5cPY1tTKLqhRSwVlFGYn6lvGadPrMi5y60Q0kcgA3fvMBZ1RQIA
ns0MYRsMyd63KmtClsuvmSOQC6TFFNs127kgN79t

[2015-08-21 22:29] SunDwarf commented on #130
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Although, this does bring up something -

Could this be avoided in the future with static linking, so that 5.5 is always included in the binary, so this network stack bug won't happen again?
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iJ4EARMKAAYFAlXXpjcACgkQbojIu8gUUMbaEwH8C/HNAdn+sti8Gg0Z+xCPTF8f
diOVw8Bgq9YqYTMxoox7KikeLhWEhQr/1uSsru63Tn0c+Q

[2015-08-21 22:50] uppfinnarn commented on #130
@kyusang600 Wait, it still happens on the Mac viewer? That uses a completely different network stack, so that shouldn't be possible...

@SunDwarf That's against Qt's license, so it won't work :/ On Windows and OSX, we can just distribute the shared libraries with the application... not sure what to do on Linux, I haven't heard of anyone bundling shared libraries inside an executable's package befo

[2015-08-21 23:04] SunDwarf commented on #130
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On 21/08/15 23:50, uppfinnarn wrote:

Didn't you remove the dedicated mac viewer in a commit recently?

I can't check right now, but is KCT under the MIT Licence? If so, I don't think it's against the licence, provided you use Qt as the LGPL licence.
MIT is compatible with the LGPL IIRC, so it should be fine, but IANAL.
-----BEGIN PGP SIGNATURE-----

[2015-08-22 01:04] kyusang600 commented on #130
Well It happens on the Mac Viewer. It doesn't when I'm on a filtered network at my campus. Idk Why tho. Also i can't complile by myself because theres like two pod scripts missing which I can't fix no matter how much i "sudo gem pod install" or try to remove the conflicting scripts.

[2015-08-22 01:13] uppfinnarn commented on #130
Please read the Cocoapods manual. This also sounds to me like a separate issue with your network at home, unrelated to KCT.

[2015-08-22 01:16] kyusang600 commented on #130
It happens everywhere. My friends have the same issue. Only solution for them is to switch to windows where they use Windows KCV Viewer (Another Viewer, KCT viewer doesn't work for them on windows.).

[2015-08-23 11:59] kyusang600 commented on #130
I just built a successful build of KCT Viewer 0.9.5 but there is a small problem because whenever I launch the Build, I keep getting an "invalid file name" error every time.

[2015-08-25 11:36] mariokamenjak commented on #126
Perhaps I could help by translating to Croatian or German.

[2015-08-26 06:16] SoftwareGuy commented on #126
Whoever's doing work on the translations is doing a good job - I've noticed that someone's tidied up the quests, and now comes with the appropriate `[B1] do this task!`. Makes trying to figure out what's been done and what hasn't a breeze.

[2015-08-26 07:37] Rhextian commented on #126
@SoftwareGuy adding the Quest ID was suppose to be a good idea until i notice some quest shares the same title, making a conflict like [B17] and [Bm12]
![839ae976-49a6-11e5-89aa-d51ee30bac18](https://cloud.githubusercontent.com/assets/12529719/9487810/be083628-4c07-11e5-9148-f5616ee7efb3.png)
and same goes for [F13], [F14] and [F15] so i had to remove them also to avoid future conflict such as whe

[2015-08-27 08:22] Yukariin commented on #115
@Siderg так тебя забанили или нет за модификацию клиента?
Потому как меня за простую подмену `font.swf` https://github.com/KanColleTool/KanColleTool/issues/115#issuecomment-98699490 до сих пор не прибили.

[2015-08-27 12:01] Siderg commented on #115
Если честно, я хз за, что меня забанили. Они ничего не написали. А я ничего, кроме как этой подмены для перевода, не использовал. Возможно это был просто какой-то шальной бан, а может я кэш где-то не обновил после очередного обновления игры из-за чего меня накрыли. Если бы kadokawa мне хоть что-то ответили... Я им писал 2 раза, но нифига... Зато когда первый раз написал к DMM, они мне в тот же ден

[2015-08-27 15:31] Yukariin commented on #115
@Siderg скрипты не трогал в флешках?

[2015-08-27 15:58] Siderg commented on #115
@Yukariin нет конечно, я там все равно ничего особо разобрать не смог, да и зачем.

[2015-08-28 22:41] SoftwareGuy commented on #126
@Rhextian I believe we can, there is an API endpoint just for quests AFAIK. We just poll that or "watch" it, and update display accordingly.

[2015-08-29 19:20] Yukariin commented on #126
@Rhextian @SoftwareGuy I think we can determine this by `ctx` and `key` in @uppfinnarn suggested format.

[2015-08-30 10:14] Rhextian commented on #126
@Yukariin idk how those works but sounds like awesome ( o 3o)
anyway, had u checked my latest commit on the translation? i added some missing stuff.
will add more if i figure it out how to extract those jap string from the game instead of typing it

[2015-08-30 23:46] SoftwareGuy commented on #126
@Rhextian I had a script that someone else made that decoded the api_start2.json blob. It actually was a python script and it's present in the kcsrv project under the "KanColleTool" repo. Otherwise I can humanize the API, and I know for a fact the quest data is in that blob - api_mst_quest or something, it's a set of IDs and the japanese UTF-8 kanji description.

Hell to make it easier for you I c

[2015-08-30 23:57] SunDwarf commented on #126
Less decode, more add newlines.

[2015-08-31 08:58] Rhextian commented on #126
@SoftwareGuy if u may, that would really helpful

[2015-08-31 20:58] Ghosthero commented on #116
Call me stupid, or ignorant to the conversation, but i only just now found this place and more importantly, the KancolleTool., I just know downloaded KCTViewer and I got the Api link setup and what not, and boy was it a headache to get to this point, yeesh, all I wanted was to actually read what I am playing. ANYWAY, love the new download, and luckily I am just in time for the update. The point? O

[2015-09-01 04:29] SoftwareGuy commented on #126
@Rhextian [Here you go](http://cache.coburnsdomain.com/misc/api_start2fulldump.txt). All the API stuff you'd ever want as a 1.25MB file. May slow down your browser if you click the link, instead go rightclick and save as it's just a text file. I'll remove the link later to save anyone randomly going "that link is broken, oh noes".

If you can't find the quest data in there I'll keep digging. I kno

[2015-09-01 13:04] Rhextian commented on #126
@SoftwareGuy thanks, it got almost everything except for quest

[2015-09-01 21:55] SoftwareGuy commented on #126
@Rhextian It doesn't have quests? Ah shucks. Let me go digging, might even have to wireshark to see what node contains the master quest data. I do have a file that tells me what quests I am doing but that's not what we want.

[2015-09-04 07:32] Rhextian commented on #126
@SoftwareGuy well, i think we already covered all the quest since all the translated quest in tr_data.json matched the one in kancolle wikia

[2015-09-04 22:45] SoftwareGuy commented on #126
@Rhextian OK, whatever you think is best.

[2015-09-17 21:01] uppfinnarn commented on #128
Oh, great, this got closed so I never noticed that reply. Please don't do that again.

@SoftwareGuy, please rebuild that as 0.9.6.

[2015-09-17 22:42] kevin01523 commented on #121
tried building on ubuntu 15.04 with qt 5.5.0 works fine but still needs to replace the libflashplayer.so in /usr/lib/flashplugin-installer from flashplayer11_2r202_233_linux.i386.tar.gz for it to work without any catbombs from https://github.com/KanColleTool/KanColleTool/issues/104 and https://github.com/KanColleTool/KanColleTool/issues/100 only issues i encountered is icon is broken and lack of k

[2015-09-18 00:01] SoftwareGuy commented on #121
That's cool and all, but you should really make a detailed document on how to compile on *nix. Otherwise I'll do it...

[2015-09-18 00:14] SoftwareGuy commented on #128
@uppfinnarn no problems, I'll crank a build out either later today or have it done for you tomorrow.
I won't mess around with my current workstation setup as I've had enough of it being ***tsundere*** so I'll build it in a Windows 7 VM.

[2015-09-18 00:28] uppfinnarn commented on #121
The package should be buildable using a script in the repo, but it's been a very long time since I did. It basically just orchestrates a bunch of built-in packaging stuff for lack of a better way to do it - the proper way to do it would probably be to keep the debian stuff in a separate repo, but it'd take someone to maintain it all too.

[2015-09-18 00:29] uppfinnarn commented on #121
Also, what's this about replacing libflashplayer? Is the latest build broken or something? Running an outdated version of the second most exploited plugin on the web doesn't sound like a genius idea to me...

[2015-09-18 00:50] SoftwareGuy commented on #121
Yeah, I was going to make a comment about that but I kept quiet... Not really in the mood to argue.
Always best to use the official one supplied by your distro. Using a old one is bound to mess things up.

I wonder... there's GNash and a flash plugin that uses mplayer (or something) to do the flash stuff. I've used gnash before and it ran YouTube videos quite comfortably but I'm not sure what it s

[2015-09-18 06:15] SunDwarf commented on #121
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On 18/09/15 01:50, SoftwareGuy wrote:

KC does run under the following flashes:

 - libflashplayer
 - libpepperflash

KC does *not* run under the following flashes:

 - lightspark
 - gnash
 - anything that isn't the two said above, actually

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iJ4EARMKAAYFAlX7rAAACgkQbojIu8gUUMZujgH/f5uRzot6f2l/rQZ1tjPg

[2015-09-18 06:59] SoftwareGuy commented on #121
Good to know.

[2015-09-18 07:04] SoftwareGuy commented on #129
One idea I had, but not sure how to set it up is this:

***If the user cancels the "Get API Link" prompt on first boot***
On the "cancel" button, make a call back to the QTWeb element (I don't know what it's called, QTWeb something) to load a welcome page (can be located here, or just a hard-coded HTML markup page). Disable the "Reset" function (since we don't have an API Key, DMM will likely thro

[2015-09-19 16:52] Rhextian commented on #126
ok, this is my progress so far which is on my repo, feel free to test it
https://github.com/Rhextian/Rhextian.github.io.git

[2015-09-19 16:54] uppfinnarn commented on #126
[I'll just leave this here](https://github.com/KanColleTool/kancolle-translation)

[2015-09-19 16:55] uppfinnarn commented on #126
My idea is to have Travis-CI compile the translation database into a bunch of `<lang>.json` files and upload them… somewhere.

[2015-09-20 01:07] SoftwareGuy commented on #126
Can offer hosting, if @uppfinnarn is interested.

[2015-09-20 01:34] uppfinnarn commented on #126
You don't have the needed infrastructure for auto-deployments.

It'll probably be Github Pages, unless someone can think of somewhere better to put them?

[2015-09-20 01:37] SoftwareGuy commented on #126
What would I need? If it's web access plus FTP for example, I use Plesk since I also host client websites as part of my business.

[2015-09-20 05:11] SoftwareGuy commented on #128
Okay. Took longer than expected, a 30GB disk image really doesn't cut the cake when you install a fresh Windows 7 + VS 2013 Community + QT 5.5 + Git, C-Make and friends.

Installer: http://cache.coburnsdomain.com/kct/KanColleTool_0.9.6_Setup.exe
Unpack and Run: http://cache.coburnsdomain.com/kct/KanColleTool_0.9.6.zip

Request for @uppfinnarn, you'll have to update the version in CMakeLists.txt in

[2015-10-10 08:20] Rhextian opened #131 "API Link Expires as of October 9, 2015 Patch"
**Problem:**
API Link now expires when you restart KCTV, Refresh (F5) the game (catbomb or not) or when you idle for 20-30mins
more info http://kancolle.wikia.com/wiki/User_blog:Dragonjet/API_Links:_October_2015

**Serverity:**
Minor? Every time you get a catbomb, you will be forced to Refresh your API Link

**Who's to blame:**
DMM, they probably implement this feature to avoid people from using b

[2015-10-11 00:58] SoftwareGuy commented on #131
As soon as a patch(set) is released, I'll get compiling a new build.

That's kinda a pain in the bum though, because if you get a catbomb (either game derped, or your internet reset the connection - happens here in AU on 3G) you'll have to log in all over again.

I have been tinkering with the welcome page idea @uppfinnarn proposed but honestly I don't have the energy right now to look at the code

[2015-10-11 03:35] kevin01523 commented on #131
oh so were on same server then on wows asia.idling can vary ive been idle for about 8 hours and did not get catbomb but once i refreshed expired api link.the server invalidates the api link if the api token is authenticated again

[2015-10-11 04:32] SoftwareGuy commented on #131
The question I have is this...

Could we get around this timeout if we do a polling in the background, to the port status API? Or would that botch things up if you're in battle and it's currently showing what you fleet is doing and KCT asks the server for an updated set of values (ie. fleet vitals, what's being constructed, etc).

By polling, we'd be keeping the "i'm a genuine player" flag active.

[2015-10-11 13:12] Rhextian commented on #131
i think we wont have to worry about the idle problem anymore

![1fc88b3096](https://cloud.githubusercontent.com/assets/12529719/10416884/a33406dc-705c-11e5-8e90-a5621e0ec114.png)

only thing left now is the restart KCTV / refresh (f5) problem

[2015-10-11 14:02] uppfinnarn commented on #131
Deja vu.
Remember last year when they pulled something like this, then the servers died from an onslaught of people reloading the whole damn game?

From what we know of the KCStaff and DMM, it's likely executive meddling from DMM's part, but at least KCStaff aren't dumb enough to bring down their entire service over this.

Also @SoftwareGuy, please stop going offtopic in every single thread you pa

[2015-10-11 14:02] #131 closed

[2015-10-17 03:45] kevin01523 commented on #128
hmm the viewer on the main repo is not updated also the one on the kancolletool.github.io download

[2015-10-17 12:46] djrenday opened #132 "KanColle Tools does't work"
When you run the program is loaded, comes to the main menu and then the message in Japanese, and it all ends. OS: Windows 10 Pro x64.
![snapshot](https://cloud.githubusercontent.com/assets/15170750/10558801/673f3fc8-74ff-11e5-8ab0-5c2decdb1945.png)

[2015-10-17 17:49] kevin01523 commented on #132
@djrenday http://cache.coburnsdomain.com/kct/KanColleTool_0.9.6.zip try this one. on the setting check the enable cookie hack then press apply then ok log in

[2015-10-17 17:56] djrenday commented on #132
@kevin01523 I tried your method, unfortunately, the problem persists(

[2015-10-17 18:17] kevin01523 commented on #132
@djrenday ah i forgot  after enable cookie hack press the get api link then log in there

[2015-10-17 19:52] strongestFairy opened #133 "Luck modernization is blocked"
Version: 9.6
OS: Win7x64
Watch the pic below. A modernization button is unavailable and Luck counter is not updated.
![A try](http://i.imgur.com/RHxiHRY.png)

Successfully upgraded luck directly at DMM site.

[2015-10-17 19:59] Yukariin commented on #133
AFAIK this is because Maruyu name was translated and original Japanese name used in client code (yep).
Try to disable English translation.

[2015-10-17 20:25] strongestFairy commented on #133
Disabling English did the magic. Thank you （｀・ω・´）b

[2015-10-17 20:25] #133 closed

[2015-10-18 05:05] Rhextian commented on #132
refresh or get new API Link every time u run kancolle tool viewer

[2015-12-05 18:33] parijohn opened #134 "error in "make install" command for serial communication in ubuntu"
hi, I am trying to run serial communication program in ubuntu 14.04.3, after make command , i tried to execute make install command but it gives following error:
pari@my-project:~/work/serial$ make install
cd build && make install
make[1]: Entering directory `/home/pari/work/serial/build'
make[1]: *** No rule to make target `install'.  Stop.
make[1]: Leaving directory `/home/pari/work/serial/build

[2015-12-05 20:26] uppfinnarn commented on #134
This has nothing to do with KCT, did you post in the wrong project?

[2015-12-05 20:26] #134 closed

[2015-12-13 21:16] mariokamenjak commented on #107
I must say that I had the same issue on Ubuntu 15.04. However updating to Ubuntu 15.10. Resolved the issue for some reason.

I must say that I love your software and I hope you guys have the spare time to continue.

[2015-12-13 21:19] mariokamenjak commented on #121
It seems that updating from Ubuntu 15.04 to 15.10 somehow fixed the issue for me.

A big thank you for everyone.

[2015-12-18 16:22] sauyon commented on #129
Maybe we could automate the process? It shouldn't be that difficult to send the login/scrape the api link with the region cookies.

(I'm back! Turns out uni is incredibly boring!)

[2015-12-18 18:23] SunDwarf commented on #129
You'd have to actually use a web browser to view it, as the link is generated via terrible JS.

[2015-12-18 19:39] Yukariin commented on #129
@SunDwarf actually now viewer can do cookie hack and get new apilink from iframe.
We just need remove that start-message with api-link, and update startup page and refresh.

[2015-12-18 20:04] SunDwarf commented on #129
Goddamn magic has advanced so much this year.

[2015-12-19 10:20] Rhextian commented on #129
can we have coloured hp bar in kancolle tool depends on the ships damage status? like yellow hp bar for shouha, orange hp bar for chuuha and red hp bar for taiha

[2015-12-19 11:08] SunDwarf commented on #129
That would go on a separate issue.

[2015-12-19 11:21] uppfinnarn commented on #129
I had started working on this on the rewrite branch of the viewer, actually. It's not difficult at all, once you have some proper structure to it.

(Then life happened and it's now kinda sitting there half-done…)

[2015-12-19 11:50] Yukariin commented on #129
@uppfinnarn umm, there are Qt 5.6 release soon that include new version of QtWebEngine that should support latest (pepper) flash on all main platforms.
But WebEngine network part is different from webkit and seems doesn't use QNAM at all. So may be we should wait a bit and try to port it to QtWebEngine?

[2015-12-20 05:58] SoftwareGuy commented on #129
I'm all for Pepper Flash because let's face it - NPAPI is old and most browsers want it to die in a fire. I'm sure we can adapt what we have now (our interception stuff) to the new WebEngine system or whatever Qt 5.6 brings to the table.

[2015-12-21 09:29] sauyon commented on #129
All the javascript to get the api link appears to be unminified, I'm going to go through it and attempt to reimplement their auth scheme.

[2015-12-21 15:47] uppfinnarn commented on #129
Yeah, we should be able to just run the upstream script and catch what it embeds in the page! Using a throwaway Web Page object (with no viewport backing and plugins disabled), we should be able to easily just grab the src attribute and roll with it.

As for WebEngine, I looked at it a while ago, and it seems like it'd be a little clunky to implement interception with it - it's very black box-y. I

[2015-12-21 16:53] SunDwarf commented on #129
On 21/12/15 15:47, uppfinnarn wrote:

I think I just got a buzzword bingo.

[2015-12-21 21:21] uppfinnarn commented on #129
Thank you, that is totally contributing to this conversation.

[2015-12-21 22:02] SunDwarf commented on #129
Glad I could be of service.

[2015-12-22 04:47] sauyon commented on #126
It would probably just be a standard server to serve json, no?

I'll start working on translations unless you want me to do something else.

[2015-12-24 13:20] sauyon commented on #128
@SoftwareGuy trying to do the update atm.
Damn all these submodules >.>

[2015-12-24 21:05] nonamethesecond commented on #107
I have the exact same problem and I'm running Arch Linux with the last available version of flash player.

[2015-12-25 14:30] liclac commented on #128
0.9.6 actually got released! (thanks @sauyon)
I'll close this unless the problem persists

[2015-12-25 14:30] #128 closed

[2015-12-25 14:31] liclac commented on #126
Please do! I was thinking of just hosting them off Github Pages and have Travis build it all. That seems like the cleanest way to do it.

[2015-12-25 16:17] nonamethanks commented on #107
Furthermore, after manually saving some of the required jsons (I could not find ndock.json but the others were there just fine) in the required path, the program returns an unknown error when loading them. Example:
Error loading "/kcsapi/api_start2" : 0
Error loading "/kcsapi/api_get_member/basic" : 0

[2015-12-25 16:22] liclac commented on #107
The JSONs aren't actually required, but rather, they're cache files. The errors are printed simply to make them easier to find, and after launching the viewer once they should be created by intercepting requests.

[2015-12-26 10:44] sauyon opened #135 "Add error messages for network failure"
Currently, if the network/proxy is down the viewer will just show a white screen - it should show an error message to make the issue more obvious.

[2015-12-26 10:45] sauyon commented on #100
Yes, it unfortunately is.

[2015-12-26 16:56] sauyon opened #136 "Save username and password for dmm"
Seems like we need to implement a cookie jar to save the cookies.
Which is a lot of work for something as simple as that.
Whatever.

[2015-12-28 11:46] Xaradas opened #137 "Linux Build Error"
Hello,

I tried to build KanColleTool from source since it seems rather outdated in ppa, but I get error during 'make'. But as I'm not that much of a technical user, I don't really know where the issue is, so I would like to ask you to help me. I installed latest Qt5 (v5.3.2) and cmake (v3.0.2) from debian jessie repo, I also have latest GCC (v4.9.2) available in debian jessie repo. My OS is Linux

[2015-12-28 15:01] sauyon commented on #137
Well, since the build appears to be failing because of a test, try building just what you need (the make targets are something like KanColleViewer I think)

[2015-12-28 15:37] liclac commented on #137
Hm, what Qt version is this? `QTimer` with lambdas is rather recent, I believe...

[2015-12-28 15:37] liclac commented on #137
Wait nevermind, it was right there in the post, any way you can upgrade it to something like 5.5?

[2015-12-28 17:24] yukariin commented on #137
QTimer with lambdas was released AFAIK in 5.4, may be we should specify minimal Qt version in Cmake's `find_package`?

[2015-12-28 19:59] Xaradas commented on #137
Thanks for your help. I installed Qt5.5 manually from Qt web page and it built fine this time.

[2015-12-28 21:25] Xaradas commented on #137
Well, now I got diffrent issue. I don't know whether open new one or just write it here, so I suppose I will write it here since I suppose I'm missing something again, which is related.

When I tried to run viewer, it asked for API link, so i put API link there, clicked ok, but then nothing happened, so I tried to run it in terminal to see whats the error and it wrote:

[code]

Since I never saw s

[2015-12-28 22:27] Fuyukai commented on #137
This looks like your KCT isn't linked properly to the correct Qt libraries.

Can you run `ldd <your_kct_binary>` and post the output?

[2015-12-28 22:31] Xaradas commented on #137
Thanks for reply. ^^

Here is the output:

[code]

EDIT1: Now that I look through it, it indeed appears to be linked wrong since Qt5.5 installed itself into /home and Qt here seems to be linked to /usr, where Qt5.3 I installed from Debian Repos was. If thats the issue, how do i link it right?

[2015-12-28 22:53] Fuyukai commented on #137
You'd have to set a custom link directory somewhere. Possibly via LINK_LOCATION, or CFLAGS/CXXFLAGS.  You'd have to ask somebody else how to set these, though.

[2015-12-28 22:56] liclac commented on #137
Or simply install Qt 5.5 globally from a PPA or similar. There are no backwards incompatible changes between minor Qt versions, so you can safely do so.

[2015-12-29 00:11] Xaradas commented on #137
In the end I added debian testing repo, updated Qt to 5.5 from there and then removed that repo. While it updated some other apps along the way, nothing seems to be broken after that and KanColleTool started to work, which means it was indeed problem with Qt.

Thanks everyone for help~ ^^

[2016-01-02 19:12] #137 closed, assigned to nobody

[2016-04-16 12:19] n0k0m3 opened #138 "Looking for building from source for Debian-based distro"
Since the PPA is outdated 2 years ago, I'm looking to build KCTool from source this time. However I'm a n00b... Is there any idiot-proof tutorial to build KCT from master branch's source?

[2016-04-16 12:42] Fuyukai commented on #138
[code]

Or so.

[2016-07-23 08:49] Francesco149 commented on #107
same problem on Gentoo x64:

QtWeb displays swf's fine but kancolletool fails with error 5:
![](http://hnng.moe/f/EtH)

[code]

it should be noted that QtWeb uses an older version of qtwebkit than the one required by kancolletool's ebuild. Also, I had to remove the widgets use flag requirement for qtwebkit from the ebuild because the useflag doesn't seem to exist anymore (it's probably enabled by

[2017-05-28 14:34] hamstersan commented on #132
Still does not work for me, The viewer works fone but the Tool, if it starts always says that I need a new api key than crashes. after that the tool does not start anymore and I need to reset the hole tool. (new apikey and everything mentioned above).
The viewer works fine but not the tool.
OS: Win 10 pro x64

[2017-09-14 07:04] sableseyler opened #139 "Segfault on ArchLinux x86_64 on startup"
KanColleTool produces the following output when attempting to start the tool:

[code]

I'll gladly track down any logfiles or run any testing tools recommended. The tool has run successfully a total of twice: once immediately after installing (several days ago), and once earlier today. All other attempts have failed identically.

[2018-10-13 00:06] Veriny opened #140 "Mac Viewer: Missing Plug-In"
![screen shot 2018-10-12 at 5 05 55 pm](https://user-images.githubusercontent.com/42592284/46898791-23958e00-ce41-11e8-9c35-af81f1e1afb5.png)

[2018-10-20 20:09] kevin01523 commented on #140
its missing flash?